
.finishedBots {
color:green;
font-weight:bold;
}

.runningBots {
color:blue;
font-weight:bold;
}

.errorText {
color:red;
font-weight:bold;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none; }
a:hover {text-decoration:none; }

#gardening-container{
	width:850px;
}
#gardening-container #gardening-tools{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #AAAAAA;
	float: left;
	overflow: auto;
	width: 200px;
	height: 300px;
	
}

#gardening-container #gardening-tooldetails{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #AAA;
	float: left;
	overflow: auto;
	width: 600px;
	height: 300px;	
	margin-left:5px;
}
#gardening-tooldetails-content{
	margin: 10px;	
}
#gardening-container #gardening-runningbots-head{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	background-color: #AAA;
	border: 1px solid #AAA;
	float: left;
	overflow: auto;
	width: 805px;
	margin-top: 10px;
}

#gardening-container #gardening-runningbots{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #AAA;
	float: left;
	overflow: auto;
	width: 805px;
	height: 300px;	
}
#gardening-container #gardening-tools .entry{
	padding: 3px 5px 3px 5px;
	border-bottom: 1px solid #CCC;
	background-color: #FFF;

}
#gardening-tools .entry-over{
	padding: 3px 5px 3px 5px;
	border-bottom: 1px solid #CCC;
	background-color: #CCC;
	cursor: pointer;
}
#gardening-tools .entry-active{
	padding: 3px 5px 3px 5px;
	border-bottom: 1px solid #CCC;
	background-color: #F1F7AE;
}
#gardening-tools .entry-clicked{
	padding: 3px 5px 3px 5px;
	border-bottom: 1px solid #CCC;
	background-color: #00BFFF;
}

#gardening-import {
font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	
	float: left;
	overflow: auto;
	width: 550px;
	height: 175px;	
	margin-left:5px;
	margin-top:10px;
}