
.tabf_container{
	width: 100%;
}

.tabf_loader {
	text-align: center;
	width: 100%;
}

.tabf_table_cell textarea{
	padding: 0px;
	margin: 0px;
	min-width: 125px;
	width: 100%;
}


.tabf_column_header{
}

.tabf_table_row {
	vertical-align: top;
}

.tabf_table_row_saved{
}

.tabf_table_row_saved_successfull{
}

.tabf_table_row_saved_error{
}

.tabf_table_cell{
	padding: 0px !important;
	margin: 0px !important;
	border: 0üx;
}


.tabf_modified_value {
	font-weight: bold;
}

.tabf_deleted_row {
}

.tabf_modified_row td:nth-child(1){
	font-weight: bold;
}

.tabf_further_results a{
	text-align: right| important;
}

.tabf_new_row {
	
}

.tabf_erronious_instance_name {
	font-weight: bold;
}

.tabf_valid_instance_name {
}
