
/*
<!--
**
**   Description : STYLESHEET FOR GENERATION OF THE HTML Treeview
**
**   Date : 26/10/2002 - version : 1.0
**   Author : Jean-Michel Garnier, http://rollerjm.free.fr
**   Source is free but feel free (!) to send any comment / suggestion 
to garnierjm@ifrance.com
**   One of the best tool to customize a css is TopStyle (www.bradsoft.com)
-->
*/

/*
<!-- Customize link styles here -->
*/


.dragHover {
	background-color: #0F0;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none; }
a:hover {text-decoration:underline; cursor: pointer; cursor: hand;}
a.concept, a.instance, a.leaf{  
	padding:0px;
	cursor: hand;
	
	white-space:nowrap;
}

a.openEditLink{
   visibility:visible;
}

span.openEditLink{
   visibility:visible;
}

a.titleNotExists {
	color: #F00;
} 

span.selectedItem{
  background-color: #BBB;
}

span.selectedItem{
  background-color: #BBB;
}

a.selectedItem {
	padding:0px;
	cursor: hand;
	background-color: #CCC;
	border: 1px solid #FFF;
}

a.inherited {
	font-style: italic;
}

a.navigationLink {
	color: #666666;
}



#ontologybrowser{
	width: 100%;
	height:490px;
	padding-top: 10px;
}

#ontologybrowser table{
    width: 100%;
}


#OBHelp {
	background-color:#FFFFFF;
}
#OBHint {
	background-color:#F8FAAA;
}
#hideInstancesButton {
	margin-left:10px;
}

#propertyRangeSpan {
	font-size:10px;
}

#directPropertySwitch {
	margin-left: 20px;
}

#showForRange {
	   margin-left: 20px;
}

#categoryTree, #relattributes, #propertyTree {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #AAAAAA;
	float: left;
	overflow: auto;
	width: 100%;
	height: 430px;	
}

.categoryTreeColors {
	background-color: #DDEEFF;
}

.categoryTreeElementColors {
    background-color: #DDEEFF;
}

.categoryTreeElementColors:hover {
	   background-color: #DDD;           
}

.categoryTreeActions {
    display:none;
    margin-left: 50px;
}

.obTreeRow:hover > span {
      display:inline-block;
      font-weight:bold;
      cursor: pointer;        
}

.instanceTreeActions {
	visibility:hidden;
    
     width: 170px; 
}

.instanceListRow:hover > td > span {
	 visibility:visible;
      font-weight:bold;
      cursor: pointer;     
      width: 170px; 
}

.annotationListActions {
    visibility:hidden;
}

.annotationListRows:hover > td > span {
     visibility:visible;
      font-weight:bold;
      cursor: pointer;     
     
}

.propertyListActions  {
    visibility:hidden;
     
}

.propertyListRows:hover > td > span {
     visibility:visible;
      font-weight:bold;
      cursor: pointer;     
     
}

.instanceListColors {
	background-color: #FFDDDD;
}

.propertyTreeElementColors {
    background-color: #FFDDAA;
}

.propertyTreeElementColors:hover {
       background-color: #DDD;           
}

.propertyTreeListColors {
	background-color: #FFDDAA;
}

#treeContainer, #relattributesContainer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	width: 30%;
}


#categoryTreeSwitch , #propertyTreeSwitch {
	margin-left:2px;
	vertical-align: top;
}

#instanceContainer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	width: 30%;
	height: 465px;
}

#instanceList
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #AAAAAA;
	float: left;
	overflow: auto;
	width: 100%;
	height: 430px;
	
}

#instanceList td {
	border-bottom: 1px dashed #AAAAAA;
	padding-left: 2px;
}
#instanceList td.selectedSwitch {
	background-color: #BBB;
}

#instanceList tr:hover{
        background-color: #DDD;
}


a.selectedSwitch {
	background-color: #CCC;
	border: 1px solid #FFF;
}

#relattributes table{
	width: 100%;
}

#relattributes td{
	border-bottom: 1px dashed #AAAAAA;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 5px;
}

#relattributes tr:hover{
  background-color: #DDD;
}

#relattributes td.right{
	border-left: 1px dashed #AAAAAA;
	width: 80px;
}

#relattValues, #relattRangeType {
	float:right;
	text-align:right;
}

.pfeil{
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 22px;
	visibility: visible;
}

.pfeil > img {
	cursor: pointer;
}

.OB-header{
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #747474;
	width: 100%;
}

.menuBar {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #747474;
	width: 100%;
	border: 1px solid #AAAAAA;
}

#menuBarcategoryTree a:hover {
	background-color: #99AABB;
}

#menuBarcategoryTree a:first-child {
	margin-left: 5px;
}

.menuBarcategoryTree {
	background-color: #BBCCDD;
}

.menuBarInstance {
	background-color: #DDBBBB;
}

#menuBarInstance a:hover {
	background-color: #BB9999;
}

#menuBarInstance a:first-child {
	margin-left: 5px;
}

.menuBarProperties {
	background-color: #DDBB88;
}

#menuBarProperties a:hover {
	background-color: #BB9966;
}

#menuBarProperties a:first-child {
	margin-left: 5px;
}

.menuBarpropertyTree{
	background-color: #DDBB88;
}

#menuBarpropertyTree a:hover {
	background-color: #BB9966;
}

#menuBarpropertyTree a:first-child {
	margin-left:5px;
}

.gardeningissue {
	color: #FF7700;
	font-weight: bold;
}

.OB-filters {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #747474;
	margin-top:4px;
	margin-left: 2px;
}

.OB-filters > span{
	float:left;
	margin-right:5px;
	margin-top:5px;
}

.OB-filters > input {
	display: block;
	width: 60%;
	float:left;
	margin-top:5px;
}

.OB-filters > button {
	margin-top:5px;
}

#OB-footer{
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #747474;
}

#OB-footer1{
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #747474;
}

.treeviewdecorator {
	cursor: pointer;
	padding-left:3px;
}


/**
* Metadata
*/

.metadataContainer {
	position: absolute;
	background-color: #FFFFF9;
	border: 2px solid #999999;
	z-index: 200;
}

.metadataContainerSwitch{
	cursor: pointer;
	margin: 6px;
	
	
}
.metadataContainerSelected {
	background-color: #CCC;
    border: 1px solid #FFF;
   margin: 5px;
   
}

.closeMetadataSwitch {
	cursor: pointer;
}

/*
**Advanced Options in Data Explorer
*/

.advancedOptions {
	margin-top: 10px;
	margin-bottom: 10px;
}
	
.aoFoldClosed {
    background: url(./images/ArrowRight.png);
    width: 16px;
	height: 16px;
	background-repeat:no-repeat;
	float: left;
	cursor: pointer;
}

.aoFoldOpen {
    background: url(./images/ArrowDown.png);
    width: 16px;
	height: 16px;
	background-repeat:no-repeat;
	float: left;
	cursor: pointer;
}

.aoContent {
	border: 1px solid #AAAAAA;
	padding: 10px;
}

.aoTitle {
	cursor: pointer;
}

.aoConnectionError {
	background-color: #FF0000;
	color: #ffffff;
}
.OBStaticHint {
	color: #666666;
	margin-top: 0.5em;
}

.aoDataSourceSelector {
	width: 30em;
}

.smwh_ob_tooltip {
	margin-left: 10px
}
