
#df_login {
	text-align: center;
/* Firefox */   
    background:  no-repeat scroll center center, -moz-linear-gradient(center top , #FFFFFF, #F6A828) repeat scroll 0 0 transparent;
/* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F6A828');
}

#df_login_failed {
	text-align: center;
	color:red;
	margin-top: 10px;
	font-weight: bold;
}

#df_login_button {
	margin: 10px;
}