@CHARSET "ISO-8859-1";

.df_extension_id {
    width: 15%;
}

.df_extension_version {
    width: 15%;
   text-align: center;
}

.df_description {
    width: 50%;
}

.df_actions {
    width: 20%;
    text-align: center;
}


.df_extension_id:hover {
background-color:yellow;
cursor: pointer;
}

.df_bundlefilelist td {
   width: 30%;
   text-align: center;
}

.df_restorepoint_table {
	margin-top: 20px;
}

.df_restorepoint_table td {
    width: 200px;
    text-align: center;
}

.df_extension_details td[description] {
	width: 150px;
}

.df_extension_details td[value] {
    color: blue;
}

#df_existingrepository_section {
	margin-top: 20px;
}