.aam_prop_highlight{
	background-color: #ff9602;
}

.aam_page_link_highlight{
	border: 1px solid #00aa00;
}

.aam_new_anno_prop_highlight{
	background-color: #ff9602;
	border: 1px solid #000000;
}

.aam_new_category_highlight{
	background-color: #064df3;
	border: 1px solid #000000;
}

.aam_template_highlight{
	background-color: #9999ff;
}


#contentcol1 {
	width: 100%;
	vertical-align: top;
}
#contentcol2 {
	width: 0%;
	visibility: hidden;
	vertical-align: top;
}

#ontomenuanchor {
	position: fixed;
	width: 300px;
	visibility: visible;
	bottom: 10px;
	right: 10px;
}

#tabcontainer {
	margin-bottom: 0px;
}