@CHARSET "UTF-8";

/* Comment Results */

div.ce-result-user img{
	float: left;
}
/* Comment form */

/* the ID of the Collaboration Extension Comment Form (CE_CF)*/

div#ce-c-header {
	background-color:#F2F2F2;
	width: 100%;
	margin: 5px 0;
	padding-top: 5px;
	clear:both;
	float:left;
	overflow:hidden;
}
img#ce-c-header-img {
	width: 25px;
	heigth: 25px;
	vertical-align: bottom;
}
span#ce-c-header-text {
	margin-left:10px;
	font-size: larger;
	font-weight: bold;
	color: #116988;
	cursor: pointer;
}
span#ce-c-header-text:hover {
	text-decoration: underline;
}
form#ce-cf {
	border-bottom: 1px solid grey;
	border-collapse:collapse;
	width: 100%;
	overflow: hidden;
}
div#ce-cf-user-icon {
	float: left;
	width: 6%;
	margin-top: 5px;
	padding: 5px;
}
img#ce-cf-user-img {
	width: 48px;
	/*height: 48px;*/
}
div#ce-cf-rightside {
	float: left;
	width: 85%;
	/*overflow: hidden;*/
	margin: 5px 0;
}
div#ce-cf-user {
	padding: 5px 0;
	color: ;
	margin-top: 5px;
}
div#ce-cf-user span.userkey{
	color: grey;
}
div#ce-cf-user span.uservalue {
	color: blue;
	margin-left: 5px;
}
div#ce-cf-rating {
	padding: 5px;
	heigth: 32px;
	border: 1px solid lightgrey;
	background-color: #f7f3f7;
}
span#ce-cf-radiobuttons{
	/*float:right;*/
	padding-left:10px;
}
.ce-cf-rating-img {
	padding: 0 5px;
	cursor: pointer;
	vertical-align: middle;
}

/* the textarea (comment content) */
div#ce-cf-commenthelp{
	margin: 5px 0;
	color: grey;	
}
div#ce-cf-commenthelp span.red{
	color: red;
}
div#ce-cf-commenthelp span{
	color: black;
}
#ce-cf-textarea {
	margin: 5px 0;
}

/*the two buttons in the form*/
#ce-cf-submitbuttonID {
	font-weight: bold;
}
#ce-cf-resetbuttonID {
	margin-left: 5px;
}

/* normal status messages from AJAX response */
#ce-cf-message {
	border: 1px dashed grey;
	padding: 5px 3px;
	margin-top:2px;
	/*float:left;*/
	clear:both;
}
#ce-cf-message.ce-cf-success-message {
	color: green;
}

/* failure messages from AJAX response */
#ce-cf-message.ce-cf-failure-message {
	color: orange;
}
/* the span for the pending indicator*/
#ce-cf-pending{
	padding: 0px 3px;
}

/* warnings created by parser function*/
.ce-warning{
	color: orange;
}
.ce-cf-grey{
	color: grey;
}

/* for comment result template */
div.ce-rating-icon img {
	vertical-align:middle;
}