@CHARSET "UTF-8";

/* Comment Results */

/* This is to downsale the user image for better formating*/
div.ce_result_user img{
	width: 48px;
	height: 48px;
	float: left;
}
/* Comment form */

/* the ID of the Collaboration Extension Comment Form (CE_CF)*/

div#ce-c-header {
	width: 100%;
	margin-top: 5px;
	padding-top: 5px;
	border-top: 2px solid lightgrey;
}
img#ce-c-header-img {
	width: 25px;
	heigth: 25px;
	vertical-align: bottom;
}
span#ce-c-header-text {
	margin-left:10px;
	font-size: larger;
	font-weight: bold;
	color: blue;
	cursor: pointer;
}
form#ce-cf {
	border: 1px solid lightgrey;
	width: 100%-2px;
	overflow: hidden;
}
div#ce-cf-user-icon {
	float: left;
	width: 6%;
	margin-top: 5px;
	padding: 5px;
}
img#ce-cf-user-img {
	width: 48px;
	height: 48px;
}
div#ce-cf-rightside {
	float: left;
	width: 85%;
	/*overflow: hidden;*/
	margin: 5px 0;
}
div#ce-cf-user {
	padding: 5px 0;
	color: ;
	margin-top: 5px;
}
div#ce-cf-user span.userkey{
	color: grey;
}
div#ce-cf-user span.uservalue {
	color: blue;
	margin-left: 5px;
}
div#ce-cf-rating {
	padding: 5px;
	border: 1px solid lightgrey;
}
div#ce-cf-radiobuttons{
	float:right;
	display: inline;
}
.ce-cf-rating-radio {
	padding: 10px 2px;
}

/* the textarea (comment content) */
div#ce-cf-commenthelp{
	margin: 5px 0;
	color: grey;	
}
div#ce-cf-commenthelp span.red{
	color: red;
}
div#ce-cf-commenthelp span{
	color: black;
}
#ce-cf-textarea {
	margin: 5px 0;
	width: 100%;
	overflow: hidden;
}

/*the two buttons in the form*/
#ce-cf-submitbuttonID {
	font-weight: bold;
}
#ce-cf-resetbuttonID {
	margin-left: 5px;
}

/* the div for the pending indicator*/
#ce-cf-pending{
}

/* normal status messages from AJAX response */
#ce-cf-message {
	
}

/* failure messages from AJAX response */
#ce-cf-failure-message {

}

/* warnings created by parser function*/
.ce-warning{
}
.ce-cf-grey{
	color: grey;
}