@CHARSET "UTF-8";

/* the overlayed element */
.ceOverlay { /* must be initially hidden */
	display: none;
	/* place overlay on top of other elements */
	z-index: 10000;
	/* styling */
	background-color: #a1a1a1;
	width: 300px;
	min-height: 100px;
	border: 2px solid #333333;
	/* CSS3 styling for latest browsers */
	-moz-box-shadow: 0 0 30px 5px #000;
	-webkit-box-shadow: 0 0 30px #000;
}

/* close button positioned on upper right corner */
.ceOverlay .close {
	/*background-image: url(/icons/overlay/close.png);
	position: absolute;
	right: -15px;
	top: -15px;
	cursor: pointer;
	height: 35px;
	width: 35px;*/
}

/* styling for elements inside overlay */
.ceOverlayDetails {
	padding: 10px 0px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	width: 100%;
	text-align: center;
}
.ceOverlayDeleteButtonDiv {
	padding: 0 30px 10px 0;
	float: right;
}

.ceOverlayCancelButtonDiv {
	padding: 0 0 10px 30px;
	float:left;
}
.ceOverlayCloseButtonDiv {
	text-align: center;
}
.ceOverlayFullDeleteDiv {
	clear: both;
	color: #fff;
	width: 100%;
	padding: 10px 0px;
	text-align: center;
}
.ceCommentSelected {
	background-color: #FAFAD2;
}
.details h3 {
	color: #aba;
	font-size: 15px;
	margin: 0 0 -10px 0;
}