@CHARSET "UTF-8";

/* The css from all Collaboration templates is now ported to this file*/
/* Template:Comment uses same definitions as Template:CommentResult*/

/* for Template:ShowCommentsIntern
*/
div.collabComInternSurround {
	clear: both;
	border: 1px solid white;
}

div.collabComInternHeader {
	background-color: #EDF4FC;
	color: black;
	border: 1px solid grey;
	padding: 5px;
}

span.collabComInternComment {
	font-size: larger;
	font-weight: bold;
	text-align: left;
	padding-left: 5px;
}

span#collabComToggle, span#collabComFormToggle {
	color: #116988;
	cursor: pointer;
	display: inline;
}
span#collabComViewToggle {
	color: grey;
	display: inline;
}

span.collabComInternAvg {
	color: grey;
	float: right;
	padding-right: 5px;
}

div.collabComInternRatingIcon {
	color: black;
	padding-left: 3px;
	display: inline;
}

div.collabComInternRatingIcon img {
	vertical-align: text-bottom;
}

/* for Template:CommentResult
 * This is used as result printer template for
 * the query of existing comments
 */
div.collabComResInfo,div.collabComResInfoSuper {
	display: none;
}

div.collabComRes {
	border: 1px solid lightgrey;
	margin: 5px 0px;
	padding: 3px;
	min-height: 50px;
	clear: both;
}

div.collabComResHeadline {
	padding-bottom: 5px;
}

div.collabComResPerson {
	float: left;
}

div.collabComResRight {
	margin-left: 55px;
}

div.collabComResUsername {
	display: inline;
	color: #116988;
}

div.collabComResDate {
	display: inline;
	color: grey;
}

div.collabComResBelongsTo {
	display: inline;
	color: grey;
}

div.collabComResLink {
	display: inline
}

div.collabComResRating {
	display: inline;
	float: right;
	text-align: right;
	color: grey;
	margin-right: 5px;
}

div.collabComResRatingIcon {
	display: inline;
	margin-left: 3px;
}

div.collabComResRatingIcon img {
	vertical-align: text-bottom;
}

div.collabComResText {
	padding-top: 5px;
}

div.collabComEdit {
	display: inline;
	cursor: pointer;
}
div.collabComDel {
	display: inline;
	cursor: pointer;
}

span.collabComReply {
	margin-top: 5px;
	color: #116988;
	cursor: pointer;
}
span.collabComReply:hover {
	text-decoration:underline;
}
div.collabComDelSelected {
	background-color: #FAFAD2;
}

img.collabComEditImg,img.collabComDeleteImg,img.collabComReplyImg {
	padding: 0 0 0 5px;
	vertical-align: text-bottom;
}

/* Comment form */
div#collabComFormHeader {
	background-color: #F2F2F2;
	width: 100%;
	margin: 5px 0;
	clear: both;
	float: left;
	overflow: hidden;
}

/*img#collabComFormHeaderImg {
	width: 25px;
	heigth: 25px;
	vertical-align: bottom;
}*/
span#collabComFormHeaderText {
	margin-left: 10px;
	font-size: larger;
	font-weight: bold;
	color: #116988;
	cursor: pointer;
}

span#collabComFormHeaderText:hover {
	text-decoration: underline;
}

form#collabComForm {
	background-color: #F2F2F2;
	border: 1px solid lightgrey;
	border-bottom: 1px solid grey;
	border-collapse: collapse;
	/*width: 100%;*/
	overflow: hidden;
}

div#collabComFormUserIcon {
	float: left;
	margin-top: 5px;
	padding: 5px;
}

img#collabComFormUserImg {
	width: 48px;
	/*height: 48px;*/
}

div#collabComFormRight {
	float: left;
	width: 85%;
	/*overflow: hidden;*/
	margin: 5px 0;
}

div#collabComFormUser {
	padding: 5px 0;
	margin-top: 5px;
}

div#collabComFormUser span.userkey {
	color: grey;
}

div#collabComFormUser span.uservalue {
	color: #116988;
	margin-left: 5px;
}

div#collabComFormRating {
	width: 100%;
	padding: 5px 0px 5px 5px;
	border: 1px solid lightgrey;
	background-color: #f7f3f7;
}

span#collabComFormRadiobuttons { /*float:right;*/
	padding-left: 10px;
}

.collabComFormRatingImg {
	padding: 0 5px;
	cursor: pointer;
	vertical-align: text-bottom;
}

/* the textarea (comment content) */
textarea#collabComFormTextarea {
	white-space: nowrap;
	width:100%;
}

div#collabComFormHelp {
	margin: 5px 0;
	color: grey;
}

div#collabComFormHelp span.red {
	color: red;
}

div#collabComFormHelp span {
	color: black;
}

#collabComFormTextarea {
	margin: 5px 0;
}

/*the two buttons in the form*/
#collabComFormSubmitbuttonID {
	font-weight: bold;
}

#collabComFormResetbuttonID {
	color: #116988;;
	cursor: pointer;
	display: inline;
}

/* normal status messages from AJAX response */
#collabComFormMessage, #collabComEditFormMessage {
	border: 1px dashed grey;
	padding: 5px 3px;
	margin-top: 2px;
	text-align: center;
	clear: both;
}

#collabComFormMessage.success {
	color: green;
}

/* failure messages from AJAX response */
#collabComFormMessage.failure {
	color: red;
}

/* the span for the pending indicator*/
#collabComFormPending {
	padding: 0px 3px;
}

/* warnings created by parser function*/
.collabComWarning {
	color: red;
}

.collabComFormGrey {
	color: grey;
}

#collabComDelMessage.success,.ce_success {
	color: green;
}

/* failure messages from AJAX response */
#collabComDelMessage.failure,.ce_failure {
	color: orange;
}

#collabComDelPending {
	padding: 0px 3px;
}

.cependingElement {
	position: fixed;
	z-index: 10001;
	top: 0px;
	left: 0px;
	display: none;
}

/* the edit form */
div#collabComEditFormRating {
	width: 100%;
	padding: 5px 0px 5px 5px;;
	border: 1px solid lightgrey;
	background-color: #f7f3f7;
}

span#collabComEditFormRadiobuttons {
	padding-left: 10px;
}

.collabComEditFormRatingImg {
	padding: 0 5px;
	cursor: pointer;
	vertical-align: text-bottom;
}
textarea#collabComEditFormTextarea {
	width:100%;
}

#collabComEditFormCancel {
	color: #116988;;
	cursor: pointer;
	display: inline;
}