@CHARSET "ISO-8859-1";

.OuterLeftIndent{
	padding-left: 40px;
}

.OKButton{
	margin-top: 15px;
	cursor: pointer;
}

.Marker{
	padding-right: 15px;
	cursor: pointer;
}

.HeadlineDelimiter{
	padding-left: 10px;
	padding-right: 10px;	
}

.StepDiv{
	padding-bottom: 25px;
}

.HelpDiv{
	padding-top: 75px;
}

.ActualMenueStep{
	color: white;
	font-weight: bold;
	line-height: 3em;
}

.TodoMenueStep{
	color: white;
	font-weight: normal;
}

.DoneMenueStep{
	color: white;
}

.step-headline{
	font-weight: bold;
}

.help-image{
	cursor: pointer;
}
