@CHARSET "ISO-8859-1";

.OuterLeftIndent{
	padding-left: 40px;
}

.BreadCrumpContainer{
	white-space: nowrap; 
	display: table; 
	background-color: #8d8d8d; 
	width: 98%; 
	border-width: 1px; 
	border-style: solid; 
	border-color: #5d5d5d
}

.OKButton{
	margin-top: 15px;
	cursor: pointer;
}

.Marker{
	padding-right: 15px;
	cursor: pointer;
}

.HeadlineDelimiter{
	padding-left: 5px;
	padding-right: 5px;	
}

.StepDiv{
	padding-bottom: 25px;
}

.HelpDiv{
	padding-top: 75px;
}

.TabContainer {
	line-height: 3em;
	display: table; 
	width: 100%; 
	border-width: 1px; 
	border-bottom-style: solid; 
	border-color: #5d5d5d;
	white-space: nowrap;
	padding-bottom: 0px;
	border-spacing: 0px;
	cell-spacing: 0px;
}

.ActiveTab {
	color: white;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-color: #5d5d5d;
	font-weight: bold;
	text-decoration: underline;
	line-height: 3em;
	background-color: #8d8d8d;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 30px;
	cursor: pointer;
}

.InactiveTab {
	line-height: 3em;
	padding-left: 10px;
	padding-right: 10px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-color: #5d5d5d;
	color: #5d5d5d;
	margin-right: 30px;
	cursor: pointer;
}

.InactiveHighlightedTab {
	line-height: 3em;
	font-style: italic;
	background-color: #E4E4E4;
	padding-left: 10px;
	padding-right: 10px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-color: #5d5d5d;
	color: #5d5d5d;
	margin-right: 30px;
	cursor: pointer;
}
	
.ActualMenueStep{
	color: white;
	font-weight: bold;
	text-decoration: underline;
	line-height: 3em;
}

.TodoMenueStep{
	color: white;
	font-weight: normal;
	line-height: 3em;
}

.DoneMenueStep{
	color: white;
	line-height: 3em;
}

.step-headline{
	font-weight: bold;
}

.help-image{
	cursor: pointer;
}
