@CHARSET "ISO-8859-1";

/*  Copyright 2010, ontoprise GmbH
*  This file is part of the LinkedData-Extension.
*
*   The LinkedData-Extension is free software; you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation; either version 3 of the License, or
*   (at your option) any later version.
*
*   The LinkedData-Extension is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/**
 * @file
 * @ingroup LinkedDataSkin
 * @author: Thomas Schweitzer
 */


.lodDivRatingMain {
	background-color: #ffffff;
	border-width: 3px;
	border-style: solid;
	border-color: #aaaaaa;
	width: 500px;
	height: 600px;
}

.lodRatingContent {
	height:545px;
	overflow-y: auto;
}

.lodDivRatingValue {
	border-bottom: solid 3px #aaaaaa;
	margin: 4px;
	font-weight:bold;
}

.lodDivRatingPathway {
	border-bottom: solid 3px #aaaaaa;
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 4px;	
}

.lodRatingGrayText {
	color: #888888;	
}


.lodRatingActionLink {
    color: #116988;
	cursor: pointer;
}

.lodRatingDivTriplesTable {
	max-width: 95%;
	overflow-x:auto;
	margin: 10px;
}

.lodRatingTriplesTable {
	width: 100%;
	overflow:auto;
}

.lodRatingResultRow {
	cursor: pointer;	
}

.lodRatingFlag {
	cursor: pointer;
}

.lodRatingHighlightSelection {
	background-color: #e0fafc;
}

.lodDivRatingSource {
	border:thin solid #cccccc;
	border-bottom: solid 3px;
	margin: 4px;
}

.lodDivRatingTriples {
	margin: 4px;
	border-bottom: 3px solid #AAAAAA;
}

.lodDivRatingComments {
	margin: 4px;
}

.lodRatingTitle {
	margin:4px;
}

.lodDivRatingRateAndComment {
	border-bottom: 3px solid #AAAAAA;
	margin: 4px;
}

#lodRatingYourComment {
	margin:4px;
}

.lodRatingRateAndComment {
    border-bottom: 3px solid #AAAAAA;
}

.lodDIVRatingSC {
	margin: 4px;
}

.lodRatingStatistics {
	margin: 4px;
}

.lodRatingCommentContainer {
	width: 100%;
}

.lodRatingTime {
	color:#999999;
	font-size:smaller;
	position:absolute;
	right:5px;
}

.lodRatingAuthor {
	color:#999999;
	font-size:smaller;
}

.lodRatingComment {
	margin: 10px 0px;
	position: relative;
}

.lodRatingCommentFlag {
	float: left;
	margin: 8px;
}

.lodRatingSaveArea {
	border-top: 3px solid #aaaaaa;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 4px;
}

.lodRatingButtons {
	display:table;
	margin-left:auto;
	margin-right:auto;
}
