#us_pathsearch_results {
    padding: 5px;
}

#us_searchresults_tab {
    list-style-type: none;
    padding: 0;
    margin: 2px;
    border-spacing: 0;
    width: 98%;
}

#us_searchresults_tab .us_tab_label {
	white-space: nowrap;
    padding: 3px;
    cursor: pointer;
    color: #666;
}

#pathsearchresult {
	padding:0;
	width: 100%;
	height: 100%;
}

#pathsearchresult .tblmain {
	border-collapse: collapse;
	border: 1px solid #c0c0c0;
	background-color: #F7F7F7;
	table-layout: auto;
	width: 100%;
	height: 100%;
	text-align: center;
	border-spacing: 0;
	padding: 0;
	margin: 0;
}

#pathsearchresult .category a:link, #pathsearchresult .category a:visited, #pathsearchresult .category a:active {
	color: green;
	font-weight: bold;
	white-space: nowrap;
}

#pathsearchresult .subcategory a:link, #pathsearchresult .subcategory a:visited, #pathsearchresult .subcategory a:active {
	color: green;
	font-weight: bold;
	white-space: nowrap;
	font-size: smaller;
}

#pathsearchresult .instance a:link, #pathsearchresult .instance a:visited, #pathsearchresult .instance a:active {
	color: black;
	font-style: italic;
	font-size: smaller;
	white-space: nowrap;
}

#pathsearchresult .property, #pathsearchresult .property a:link, #pathsearchresult .property a:visited, #pathsearchresult .property a:active {
	color: blue;
	white-space: nowrap;
}

#pathsearchresult .valuetype {
	font-family: monospace;
	color: green;
	white-space: nowrap;
}

#pathsearchresult .propSpacer {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	width: 100%;
	height: 100%;
	empty-cells:show;
	background-color: #F7F7F7; 
}

#pathsearchresult td.propSpacer {
	width: 50%;
	height: 50%;
}

#pathsearchresult td.propSpacerLeft {
	border-bottom: 1px solid;
	border-left: 1px solid;
	width: 50%;
	height: 50%;
}

#pathsearchresult td.propSpacerRight {
	border-bottom: 1px solid;
	border-right: 1px solid;
	width: 50%;
	height: 50%;
}

#pathsearchresult td.propSpacerCenter {
	border-bottom: 1px solid #000000;
	width: 100%;
	height: 50%;
}

#pathsearchresult td.propSpacerCenterBottom {
	border-bottom: 1px solid #F7F7F7;
	width: 100%;
	height: 50%;
}

#pathsearchresult td.instanceValues {
	background-color: #FFF;
	white-space: nowrap;
}

#us_resultinfo_path {
    border-bottom: 1px solid;
    margin: 5px;   
}