#us_didyoumean {
    width: 97%;
    margin-bottom: 10px; 
    margin-top: 10px; 
}

#us_refineresults {
    
    width:97%;
    border: 2px solid #AAA;
    padding: 5px;
}

#us_refineresults .filtercolumn {
    
    padding-left: 15px;
}

#us_statistics_results th {
    background-color: #CCC;
}


#us_statistics_results tr :first-child {
    background-color: #FFFFFF;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    vertical-align: top;
    width: 300px;
}

#us_statistics_results td {
    background-color: #FFFFFF;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    vertical-align: top;
    width: 100px;
}

#us_searchform {
    margin-bottom: 10px;
}
#us_newpage {
    margin-bottom: 10px;
}

#us_refineresults .us_refinelinks {
    padding: 3px;
}

#us_refineresults .us_refinelinks_highlighted {
    padding: 3px;
    background-color: #666;
    color:white;
    font-weight: bold;
}

#us_searchresults {
    border: 2px solid #AAA;
    padding: 5px;
    width:97%;
    list-style-type: none;
}

#us_queryresults {
	border-spacing: 10px;
}

#us_searchresults .searchmatch {
    color:black;
    font-weight: bold;
}

#us_fulltext_results .searchmatch {
    color:black;
    font-weight: bold;
}

#us_resultinfo {
    border-bottom: 1px solid;
    margin: 5px;
    
}

.us_search_result_link{
    margin: 6px;
    font-weight: bold;
}

.us_search_result .snippet {
    font-size: 90%;
    margin-left: 25px;
}

.us_search_result .metadata {
    font-size: 90%;
    margin-left: 25px;
    color:darkgreen;
}

.us_search_result .category {
    font-size: 90%;
    margin-left: 25px;
  
}

#us_browsing {
    margin-top: 10px;
    width: 98%;
}

.us_description {
    border: 2px solid #AAA;
    padding:10px;
    margin: 5px;
}

