#us_didyoumean {
	width: 97%;
	margin-bottom: 10px; 
}

#us_refineresults {
	
	width:97%;
	border: 2px solid #000;
    padding: 5px;
	
	
}

#us_refineresults td {
    
    width:15%;
     
    
}

#us_searchform {
	margin-bottom: 10px;
}
#us_newpage {
	margin-bottom: 10px;
}

#us_refineresults .us_refinelinks {
	margin: 3px;
}

#us_searchresults {
    height: 600px;
    padding: 5px;
    width:97%;
    
}

.us_search_result_link{
	margin: 6px;
}

.us_search_result .snippet {
	font-size: 80%;
	margin-left: 10px;
}

.us_search_result .metadata {
    font-size: 90%;
    margin-left: 10px;
    color:darkgreen;
}

.us_search_result .category {
    font-size: 90%;
    margin-left: 10px;
  
}

#us_browsing {
	margin-top: 10px;
}

.us_description {
	border: 2px solid #AAA;
	padding:10px;
	margin: 5px;
}

