@CHARSET "UTF-8";

/* 
	Document	: rm.css
	Created on	: 17.05.2010
	Author		: langguth
	Description	: Rich Media overlay style sheet.
*/
/* Image overlay window (FileViewer) */
a:hover {
	text-decoration: underline;
}

a {
	text-decoration: none;
}

#rmEWMainDiv {
	border: 1px solid black;
	border-collapse: collapse;
	background-color: #0091A6;
}

#rmEWMainText {
	padding-left: 10px;
	padding-right: 5px;
	font-weight: bold;
	border-right: 1px solid black;
	border-collapse: collapse;
	background-color: white;
	font-size: larger;
	width: 90px;
	display: inline-block;
}

#rmEWViewText {
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: white;
	font-weight: bold;
	width: 40px;
	display: inline-block;
}

#rmEWright {
	font-weight: bold;
	text-align: center;
	float: right;
	padding-right: 10px;
}

#rmEWEmbedTable {
	width: 100%;
	height: 90%;
}

#rmEWAlCenter {
	padding: 0;
	text-align: center;
	align: center;
}

#rmEWEmbedded {
	text-align: center;
	margin: 5px;
}

#rmEWEmbeddedObject {
	margin-top: 5px;
	vertical-align: middle;
}

.rmEWWhite {
	color: white;
}