@CHARSET "UTF-8";

/*
    Document   : richmedia.css
    Created on : 17.05.2010
    Author     : langguth
    Description:
        Rich Media extension style sheet.
*/

/* for Template:RMMedia */
.rmMetadataTable {
	background: #fff;
	border: 1px solid #aaa;
	border-collapse: collapse;
	clear: right;
	float: right;
	margin: 0 0 0.5em 1em;
	position: relative;
	width: 30%
}

.rmMetadataTH {
	background: #996699;
	color: white
}

/* for Template:RMListInnerTable */
.rmListInfoIcon {
	padding: 0 10px 0 0;
}

/* for Template:RMListOuterTable */
.rmListTable {
	background-color: rgb(255, 255, 255);
	border-spacing: 0;
	empty-cells: show;
}

.rmListInfoText {
	background-color: rgb(17, 105, 136);
	color: white;
	padding: 7px 2px;
}

.rmListHeader {
	border-top: 1px solid rgb(17, 105, 136);
	height: 1px
}

.rmListInnerTable {
	background-color: rgb(255, 255, 255);
	border-collapse: collapse;
}

.rmListInnerTableHeaderItem {
	border-bottom: 1px solid rgb(17, 105, 136);
	color: rgb(17, 105, 136);
	text-align: center;
}

.rmListRefreshIcon {
	vertical-align: middle
}

.rmListButton {
	text-align: right;
	vertical-align: top;
}

.rmUploadButton {
	font-weight: bold;
}

.rmListTableEnding {
	border-top: 1px solid rgb(17, 105, 136);
}

/* Rich Media forms */
.rmFormField {
	font-size: 100%;
	font-weight: bold;
}

.rmFormImportant {
	color:red;
}

.rmFormInfo {
	font-size: 80%;
	font-style: italic;
	padding-bottom: 5px;
}

/* Rich Media upload form */

#rmUploadHeadline {
	background-color: #455387;
	color: white;
	font-size:1.2em;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}

#rmUploadText {
	padding-top: 5px
	text-align: center;
	width: 100%;
}

.rmUploadHelpImage {
	padding: 5px;
}

.rmUploadCollapse {
	cursor: pointer;
	font-weight: bold;
}

.rmUploadSize {
	margin:5px 0px;
}

#rmUploadPermTypeList {
	margin-top: 0px;
}

#rmUploadError {
	padding:5px 10px 10px 10px;
	border: 1px solid red;
	color: red;
}

#rmUploadErrorHeader {
	margin-top: 0;
}

#rmUploadForm {
	margin: 0;
}

#rmUploadTable {
	margin: 0;
	width: 100%;
}

#rmUploadTableDescColumn {
	width: 30%;
}

#rmUploadTableInputColumn {
	width: 70%;
}

.rmUploadDesc {
	font-weight: bold;
}

#rmUploadButtonTable {
	width: 100%;
}

.rmUploadSuccessText {
	padding: 0;
	text-align: center;
	width: auto;
}

#rmUploadSuccessFieldset {
	border: 1px solid lightgrey;
	line-height: 1.5em;
	margin: 0 30px;
	padding-bottom: 20px;
}

#rmUploadSuccessLegend {
	font-size: 95%;
	font-weight: bold;
	padding: 0.5em;
}

#rmUploadSuccessFilename {
	text-align: left;
}

#rmUploadSuccessCloseText {
	padding: 10px;
	text-align: center;
	width: auto;
}

#mw-upload-form > fieldset > legend {
	font-weight: bold;
	cursor: pointer;
}

#mw-upload-form .mw-label {
	font-weight: bold;
}