
.asf_tab_container span{
	border-top: thin solid #CACAC4;
	border-left: thin solid #CACAC4;
	border-right: thin solid #CACAC4;
	margin-right: 10px;
	margin-top: 40px;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	cursor: pointer;
}

.asf_tab_container .asf_unselected_tab{
	background-color: #CACAC4;
}

.asf_tab_container .asf_selected_tab{
	font-weight: bold;
	border-bottom-style: none;
}

.asf_tab_windoe {
	border: thin solid #CACAC4;
	width: 97%;
	height: 100%; 
	min-height: 20px;
	padding: 10px;
	margin-bottom: 30px;
}

#asf_category_input {
	width: 99%;
	height: 2em;
}

#asf_formname_input {
	width: 509px;
}

.asf_warning {
	color: red;	
}

