.facets {
	float: left;
	width: 25%;
	padding: 0 0 10px 10px;
	word-wrap: break-word;
}
.detailsImage {
	cursor: pointer;
}
#query {
	width: 50%;
}

.xfsFacetHeader {
	font-weight: bold;
}

.xfsComponentHeader {
	font-weight: bold;
	font-size: medium;
}

.xfsHighlightSearch {
	background-color: #EEF3FF;
}

.results {
	float: right;
	width: 65%;
	padding: 10px 20px 10px 40px;
	border-left: 1px solid #aaa;
	text-align: left;
	line-height: 1.3em;
}
.xfsResult {
	margin-bottom: 20px;
}
.xfsResult a {
	cursor: pointer;
}
.xfsResult p {
	margin: 0;	
}
.xfsResultTitle {
	font-weight: bold;
}
.xfsResult img {
	margin-left: 5px;
    vertical-align: text-bottom;
}
.xfsResultCategory {
	margin-bottom: 2px;
}
.xfsResultModified {
	color: darkgreen;
	font-size: 90%;
	padding-top: 1px;
}
.xfsResultTable table {
	border: 1px solid #BFBDBD;
	border-collapse: collapse;
	width: 100%;
}
.xfsResultTable table tr.s0 {
	background-color: #EEF3FF;
}
.xfsResultTable table tr.s1 {
	background-color: #FFFFFF;
}
.xfsResultTable table td:first-child {
	width: 150px;
	vertical-align: top;
}
.xfsResultTable table td:first-child:after {
	content: ':';
}
.xfsResultTable table td {
	padding: 2px 15px 2px 5px;
}

.xfsClusterEntry {
	margin-left: 3em;
}

.xfsClusterTitle {
	margin-left: 2em;
}

#pager {
	display: inline;
    list-style-type: none;
    padding: 0;
	font-weight: bold;
}
#pager li {
	display: inline;
	margin: 0 3px;
}
#pager-header {
	color: gray;
	font-size: 90%;
	margin-bottom: 10px;
}
#selection > span > img {
	padding-left: 3px;
    vertical-align: text-bottom;
}
a.xfsFMore, a.xfsFLess {
	cursor: pointer;
}
#xfsFilterDebug {
	background-color: gold;
    border: 1px solid darkGoldenRod;
    font-size: 80%;
    line-height: 1em;
    margin: 0;
    padding: 2px 2px 2px 18px;	
}
.xfsMinor {
	color: gray;
	cursor: default;
}

.xfsSeparatorLine {
  background: none repeat scroll 0 0 #AAAAAA;
  border: medium none;
  height: 1px;
}

.xfsSelectedNamespace {
	font-weight: bold;
	font-size: larger;
	color: black !important;
}

.xfsNamespace {
	color: #116988;
	cursor: pointer;
}

.xfsEmptyNamespace {
/*	color: #CC2200 !important;*/
	color: gray !important;
}

.xfsRemoveFacet {
	vertical-align: middle;
	cursor: pointer;
}

.xfsRemoveRange {
	vertical-align: middle;
	cursor: pointer;
}

.xfsNamespaces {
	margin-bottom: 10px;
}

.xfsSortOrder {
	margin-left: 1em;
}

.xfsRedLink {
	color: #CC2200 !important;
}
