/* 
    Document   : skin-pagecontent
    Created on : Sep 14, 2009, 3:21:39 PM
    Author     : ulrich
    Description:
        Add the style for the page content
        Always add an #content before, so your
        styles won't apply to the rest of the skin
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/**
* CSS for inline queries in table format
* just add a div to your page around content with class="smwtable"
*/


#content .smwtable{
	background-color: #ffffff;
	border-collapse:collapse;
	cellpadding: 8px;
	line-height: 1.5em;
}

#content .smwtable th{
	background-color: #ffffff;
	color: #116988;
	text-align: left;
	border-bottom-color:#116988;
	border-bottom-style:solid;
	border-bottom-width:2px;
}


#content h1, #content h2,
#content h3, #content h4,
#content h5, #content h6 {
    border-bottom: 1px solid #000
}

#content .smwfooter td{
	background-color: #FFF;
}

#content .smwtable{
	background: none;
}

#content .smwtable th{
	background: none;
	border-bottom: 2px solid #116988;
}

#content .smwtable th a{
	color: #116988;
}

#content .smwtable td{
	border-bottom: 1px solid #cccccc;
	background: #FFFFFF none repeat scroll 0 0;
}

#content .smwtable tr:hover td{
	background: #E8EDFF none repeat scroll 0 0;
}

/* even and odd in tables*/
#content .sortable .even,#content .smwtable .even{ 
background-color:#FFF; 
}

#content .sortable .odd,#content .smwtable .odd{
background-color:#cde6ea;
}

/* thumbnails */
div.thumb {
	margin-bottom: .5em;
	border-style: solid;
	border-color: white;
	width: auto;
}
div.thumbinner {
	border: 1px solid #ccc;
	padding: 3px !important;
	background-color: #f9f9f9;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}
html .thumbimage {
	border: 1px solid #ccc;
}
html .thumbcaption {
	border: none;
	text-align: left;
	line-height: 1.4em;
	padding: 3px !important;
	font-size: 94%;
}
div.magnify {
	float: right;
	border: none !important;
	background: none !important;
}
div.magnify a, div.magnify img {
	display: block;
	border: none !important;
	background: none !important;
}
div.tright {
	clear: right;
	float: right;
	border-width: .5em 0 .8em 1.4em;
}
div.tleft {
	float: left;
	clear: left;
	margin-right: .5em;
	border-width: .5em 1.4em .8em 0;
}
img.thumbborder {
	border: 1px solid #dddddd;
}
.hiddenStructure {
	display: none;
}

#content .smwtable th {
        vertical-align: bottom;
}

/* TOC */

#toc {
        background-color: #F0F0F0;
        border: 1px solid #4B595C;
}

