body{
    background-color: #aad1de;
}

.mediawiki{
	font-family: Helvetica,Arial,Helvetica,sans-serif;
}

dt {
	font-weight: bold;
}

#shadows {
    background-color: #FFF;
}


#shadow_left{
    background: #edf4e6 url(../img/shadow_left.jpg) scroll repeat-y left;
}

#shadow_right{
    background: #edf4e6 url(../img/shadow_right.jpg) scroll repeat-y right;
}

#smwh_head {
    background: #FFF;
}

#smwh_head a {
    color: #116988;
}

#smwh_personal{
    font-size: smaller;
}

#personal_expand.limited {
    background: url(../img/expandview.png) right no-repeat;
}

#personal_expand.expanded {
    background: url(../img/limitview.png) right no-repeat;
}

#searchInput{
    border-color: #AAA;
    color: #000000;
    font-size: 90%;
}

#searchInput:focus{
    border-color: #42a3b3;
}

#searchGoButton, #mw-searchButton{
    background: #219EB5 none;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
}

#searchGoButton:hover, #mw-searchButton:hover{
    background: #307690 url(../img/transparent.png);
}

#smwh_menu {
    background-image: url(../img/menue2.gif);
}

.smwh_menuhead  {
	margin-left: 3px;
	margin-right: 3px;
}

#smwh_menu .hovering .smwh_menuhead {
    background: url(../img/menue_hover.gif) repeat-x;
	margin-left: 3px;
	margin-right: 3px;
    cursor: pointer;
}

.smwh_menudropdown{
    background: url(../img/menu_arrow.gif) right no-repeat;
}


ul.smwh_menulist div.smwh_menubody_visible {
	background:url(../img/submenu-background.png) repeat-x scroll center bottom #FFFFFF;
    border-color: #dfdfdc;
}

#smwh_menu ul.smwh_menulist div.smwh_menubody_visible a{
    color: #116988;
	vertical-align: middle;
	font-size: smaller;
}

ul.smwh_menulist div.smwh_menubody td:hover  a{
	background-color: #cfdce1;
	text-decoration: none;
}

ul.smwh_menulist div.smwh_menubody td:hover {
	background-color: #cfdce1;
	text-decoration: none;
}

/* breadcrumb */

#breadcrumb a, #breadcrumb span {
    color: grey;
    float: left;
    padding: 0.9em 0.7em;
}

#smwh_breadcrumbs{
    font-size: x-small;
}

/* mainpage */

#smwh_browser{
    border-color: #cacac4;
    background-color: white;
}

#tabsleft .pagetab a{
	color: black;
}

.tab{
    background-color: #FFF;
}

.tab a{
	text-decoration: none;
}

/*.tab.selected{
    font-size: x-large;
}*/

.tab#ca-edit{
	background-color: #228C9E;
	padding-right: 13px;
}
.tab#ca-edit:hover{
	background-color: #316C77;
}
.tab#ca-edit a{
	color: white;
	text-decoration: none;
}
.tab#ca-talk a{
	text-decoration: none;
}

#more {
    color: #116988;
}

#mainpage .tab.selected a{
    color: #000;
}

#smwh_tabs {
    font-size: small;
}

#smwh_tabs .tab.new a{
    color: #CC2200;
}

#tabsright .righttabelements {
    border-color: #cacac4;
}

#tabsright .smwh_menuhead  {

}

/*#tabsright ul.smwh_menulist div.smwh_menubody {
    background-color: #fbfbfb;
    border-color: #dfdfdc;
}*/

#smwh_menuhead_more  {
    background: url(../img/menu_arrow.gif) right no-repeat;
}

#column-content{
    border-color: #cacac4;
    background-color: #FFF;
}

#mainpage{
    background-color: #FFFFFF;
}

#mainpage a{
   color: #116988;
}

#mainpage a.new {
   color: #CC2200;
}

#mainpage a.new:visited {
   color: #A55858;
}

#mainpagetable{
    background-color: #edede7;
}

#column-content{
    font-size: smaller;
}

#column-content a:visited{
    color: #551A8B;
}

ul.smwh_menulist div.smwh_menuhead > p, ul.smwh_menulist div.smwh_menuhead > p a {
    color: #FFF;
	font-family:arial, sans-serif;	
	font-size: 10pt;
    font-weight: 600;
}
	
#smwh_pstats{
    font-size: xx-small;
    color: #AAA;
}

#footer{
    background-color: #228c9e;
    background-image: url(../img/backgr_footer.gif);
    background-repeat: repeat-x;
}

#smwh_quicklinks, #smwh_quicklinks a{
    color: #FFF;
}

/* Treeview */

#smwh_treeviewtoggleleft {
    background: url(../img/tree_left.png) repeat-x;
}

#smwh_treeviewtoggleleft.active{
    background: url(../img/tree_left_active.png) repeat-x;
}

#smwh_treeviewtoggleleft:hover{
    background: url(../img/tree_left_hover.png) repeat-x;
}

#smwh_treeviewtoggleright{
    background: url(../img/tree_right.png) repeat-x;
}

#smwh_treeviewtoggleright.active{
    background: url(../img/tree_right_active.png) repeat-x !important;
}

#smwh_treeviewtoggleright:hover{
    background: url(../img/tree_right_hover.png) repeat-x;
}

#smwh_treeview{
    border-color: #CACAC4;
    background-color: #FFF;
}

#smwh_treeview_content{
    border-color: #CACAC4;
}


#smwh_treeview_head{
    border-bottom-color: #CACAC4;
}


/*
** Icons for certain href links in the wiki
**
** keep the whitespace in front of the ^=, hides rule from konqueror
** this is css3, the validator doesn't like it when validating as css2
*/
#bodyContent a.external,
#bodyContent a[href ^="gopher://"] {
	background: url(../external.png) center right no-repeat;
	padding-right: 13px;
}
.rtl #bodyContent a.external,
.rtl #bodyContent a[href ^="gopher://"] {
	background-image: url(../external-rtl.png);
}
#bodyContent a[href ^="https://"],
.link-https {
	background: url(../lock_icon.gif) center right no-repeat;
	padding-right: 16px;
}
#bodyContent a[href ^="mailto:"],
.link-mailto {
	background: url(../mail_icon.gif) center right no-repeat;
	padding-right: 18px;
}
#bodyContent a[href ^="news://"] {
	background: url(../news_icon.png) center right no-repeat;
	padding-right: 18px;
}
#bodyContent a[href ^="ftp://"],
.link-ftp {
	background: url(../file_icon.gif) center right no-repeat;
	padding-right: 18px;
}
#bodyContent a[href ^="irc://"],
#bodyContent a.extiw[href ^="irc://"],
.link-irc {
	background: url(../discussionitem_icon.gif) center right no-repeat;
	padding-right: 18px;
}
#bodyContent a.external[href $=".ogg"], #bodyContent a.external[href $=".OGG"],
#bodyContent a.external[href $=".mid"], #bodyContent a.external[href $=".MID"],
#bodyContent a.external[href $=".midi"], #bodyContent a.external[href $=".MIDI"],
#bodyContent a.external[href $=".mp3"], #bodyContent a.external[href $=".MP3"],
#bodyContent a.external[href $=".wav"], #bodyContent a.external[href $=".WAV"],
#bodyContent a.external[href $=".wma"], #bodyContent a.external[href $=".WMA"],
.link-audio {
	background: url("../audio.png") center right no-repeat;
	padding-right: 13px;
}
#bodyContent a.external[href $=".ogm"], #bodyContent a.external[href $=".OGM"],
#bodyContent a.external[href $=".avi"], #bodyContent a.external[href $=".AVI"],
#bodyContent a.external[href $=".mpeg"], #bodyContent a.external[href $=".MPEG"],
#bodyContent a.external[href $=".mpg"], #bodyContent a.external[href $=".MPG"],
.link-video {
	background: url("../video.png") center right no-repeat;
	padding-right: 13px;
}
#bodyContent a.external[href $=".pdf"], #bodyContent a.external[href $=".PDF"],
#bodyContent a.external[href *=".pdf#"], #bodyContent a.external[href *=".PDF#"],
#bodyContent a.external[href *=".pdf?"], #bodyContent a.external[href *=".PDF?"],
.link-document {
	background: url("../document.png") center right no-repeat;
	padding-right: 12px;
}