/* 
    Document   : skin-pagecontent
    Created on : Sep 14, 2009, 3:21:39 PM
    Author     : ulrich
    Description:
        Add the style for the page content
        Always add an #content before, so your
        styles won't apply to the rest of the skin
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/**
* CSS for inline queries in table format
* just add a div to your page around content with class="smwtable"
*/


#content .smwtable{
	background-color: #ffffff;
	border-collapse:collapse;
	cellpadding: 8px;
	line-height: 1.5em;
}

#content .smwtable th{
	background-color: #ffffff;
	color: #116988;
	text-align: left;
	border-bottom-color:#116988;
	border-bottom-style:solid;
	border-bottom-width:2px;
}

#content .smwfooter td{
	background-color: #FFF;
}

#content .smwtable{
	background: none;
}

#content .smwtable th{
	background: none;
	border-bottom: 2px solid #116988;
}

#content .smwtable th a{
	color: #116988;
}

#content .smwtable td{
	border-bottom: 1px solid #cccccc;
	background: #FFFFFF none repeat scroll 0 0;
}

#content .smwtable a:hover td{
	background: #E8EDFF none repeat scroll 0 0;
}

/* even and odd in tables*/
#content .sortable .even,#content .smwtable .even{ 
background-color:#FFF; 
}

#content .sortable .odd,#content .smwtable .odd{
background-color:#cde6ea;
}