body{
    background-color: #aad1de;
}

.mediawiki{
	font-family: Helvetica,Arial,Helvetica,sans-serif;
}

dt {
	font-weight: bold;
}

#shadows {
    background-color: #FFF;
}


#shadow_left{
    background: #edf4e6 url(../img/shadow_left.jpg) scroll repeat-y left;
}

#shadow_right{
    background: #edf4e6 url(../img/shadow_right.jpg) scroll repeat-y right;
}

#smwh_head {
    background: #FFF;
}

#smwh_head a {
    color: #116988;
}

#smwh_personal{
    font-size: smaller;
}

#personal_expand.limited {
    background: url(../img/expandview.png) right no-repeat;
}

#personal_expand.expanded {
    background: url(../img/limitview.png) right no-repeat;
}

#searchInput{
    border-color: #AAA;
    color: #000000;
    font-size: 90%;
}

#searchInput:focus{
    border-color: #42a3b3;
}

#searchGoButton, #mw-searchButton{
    background: #4187A0 url(../img/transparent.png);
    color: #fff;
    font-weight: bold;
    font-size: 10px;
}

#searchGoButton:hover, #mw-searchButton:hover{
    background: #307690 url(../img/transparent.png);
}

#smwh_menu {
    background-image: url(../img/menue2.gif);
}

.smwh_menuhead  {
    background: url(../img/menu_arrow.gif) right no-repeat;
	margin-left: 3px;
	margin-right: 3px;
}

#smwh_menu .hovering .smwh_menuhead {
    background: url(../img/menue_hover.gif) repeat-x;
	margin-left: 3px;
	margin-right: 3px;
}

ul.smwh_menulist div.smwh_menubody_visible {
    background-color: #fbfbfb;
    border-color: #dfdfdc;
}

ul.smwh_menulist div.smwh_menubody_visible a{
    color: #116988;
	vertical-align: middle;
	font-size: smaller;
}

ul.smwh_menulist div.smwh_menubody td:hover  {
	background-color: #E8EDFF;
}

ul.smwh_menulist div.smwh_menubody td:hover  a{
	background-color: #E8EDFF;
	text-decoration: none;
}

ul.smwh_menulist div.smwh_menubody td:hover {
	background-color: #E8EDFF;
	text-decoration: none;
}

/* breadcrumb */

#breadcrumb a{
    color: #4187a0;
}

#smwh_breadcrumbs{
    font-size: smaller;
}

#smwh_breadcrumb_currentpage{
    color: #000;
}

/* mainpage */

#smwh_browser{
    border-color: #cacac4;
    background-color: white;
}

.tab{
    background-color: #FFF;
    border-color: #cacac4;
}

.tab.selected{   
    
}

#more {
    background-color: #CCC;
    color: #FFF;
}

#mainpage .tab.selected a{
    color: #000;
}

#smwh_tabs {
    font-size: small;
}

#tabsright .righttabelements {
    border-color: #cacac4;
}

#tabsright .smwh_menuhead  {
    background: url(../img/menu_arrow.gif) right no-repeat;
}

#tabsright ul.smwh_menulist div.smwh_menubody {
    background-color: #fbfbfb;
    border-color: #dfdfdc;
}

#smwh_menuhead_more  {
    
}

#column-content{
    border-color: #cacac4;
    background-color: #FFF;
}

#mainpage{
    background-color: #FFFFFF;
}

#mainpage a{
   color: #116988;
}

#mainpage a.new {
   color: #CC2200;
}

#mainpage a.new:visited {
   color: #A55858;
}

#mainpagetable{
    background-color: #edede7;
}

#column-content{
    font-size: smaller;
}

#column-content a:visited{
    color: #551A8B;
}

ul.smwh_menulist div.smwh_menuhead > p, ul.smwh_menulist div.smwh_menuhead > p a {
    color: #FFF;
	font-family:arial, sans-serif;	
	font-size: 10pt;
    font-weight: 600;
}
	
#smwh_pstats{
    font-size: xx-small;
    color: #AAA;
}

#footer{
    background-color: #228c9e;
    background-image: url(../img/backgr_footer.gif);
    background-repeat: repeat-x;
}

#smwh_quicklinks, #smwh_quicklinks a{
    color: #FFF;
}

/* Treeview */

#smwh_treeview{
    border-color: #CACAC4;
    background-color: #FFF;
}


#smwh_treeview_head{
    border-bottom-color: #CACAC4;
}