/**
* Global
*
* DO NOT ADD ANY CSS CONCERNING COLORS, FONTS OR IMAGES HERE!
*
*/

body{
    margin: 0px;
}

.mediawiki a{
    text-decoration: none;
}

.mediawiki a:hover{
   text-decoration: underline;
}

.mediawiki a img{
	border-width: 0px;
}

textarea {
    width:97%;
}

#shadows{
    width: 960px;
}

/* overwrites useragent css to prevent scrolling triggered by padding */
#shadows > tbody > tr > td{
    padding: 0px;
}

/* Head */


#smwh_head{
	position: relative;
	min-height: 90px;
	max-height: 115px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	overflow: hidden;
}

#smwh_personal #personal_expand {
    border-left-style: none;
    padding-right: 25px;
}


#smwh_personal img{
    margin-right: 10px;
}

#smwh_personal a{
    margin-left: 5px;
    padding-left: 5px;
    border-left-width: 1px;
    border-left-style: solid;
}



#smwh_logo{
    float: left;
    margin-bottom: 5px;
    max-width: 110px;
}

#smwh_logo img{
    max-height: 100px;
}

#smwh_personal{
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}

#smwh_search{
    height: 40px;
    float: right;
    position: absolute;
    bottom: 20px;
    right: 	10px;
}

#searchInput{
    display: block;
    float: left;
    margin-right: 6px;
    margin-bottom: 19px;
	margin-top: 2px;
    position: relative;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    width: 340px;
}

#searchInput:focus{
	border-width: 2px;
    border-style: solid;
}

#searchGoButton, #mw-searchButton{
display: inline-block;
padding: 5px 10px 6px;
text-decoration: none;
line-height: 1;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
-moz-box-shadow: 0 1px 3px #999;
-webkit-box-shadow: 0 1px 3px #999;
-khtml-box-shadow: 0 1px 3px #999;
text-shadow: 0 -1px 1px rgba(0, 2, 34, 0.25);
border-bottom: 1px solid #222;
position: relative;
cursor: pointer;
margin-top: 3px
}


/* Menu */

#home{
    float: left;
}

#smwh_menu{
    clear: both;
    height: 28px;
}

#smwh_menu .editsection{
    display: none;
}

#smwh_menu ul.smwh_menulist{
    padding: 0px;
    margin: 0em;
}

ul.smwh_menulist div.smwh_menuhead > p {
    margin: 4px;
}

ul.smwh_menulist div.smwh_menuhead > p > a:hover  {
    text-decoration: underline;
}

ul.smwh_menulist li {
	  display: inline-block;
	  position: relative;
          z-index: 25;
          
}

ul.smwh_menulist div.smwh_menuhead {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

ul.smwh_menulist div.smwh_menubody {
    display: none;
}


/*
* Show Menus when mouse is over the proper item
*/
ul.smwh_menulist .hovering div.smwh_menubody {
    display: block;
}

/*
* Show the more menu when mouse is over the more tab
*/
#more.hovering div.smwh_menubody {
    display: block !important;
}



ul.smwh_menulist div.smwh_menubody {
    width: auto;
    position: absolute;
    /*top: 1.1em;*/
    z-index: 20;
}

ul.smwh_menulist div.smwh_menubody .hovering  {
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0 0;
}


ul.smwh_menulist div.smwh_menubody_visible {
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}



#menuright{
    float: right;
}

#menuright div.smwh_menubody{
    right: 0em;
}

#menuleft{
    float: left;
}

#menuleft div.smwh_menubody{
    left: 0em;
}

#toolsimage{
    margin-left: 5px;
}

/* breadcrumbs */

#smwh_last_visited {
    float: left;
    padding: 0.9em 0.85em 0.9em 0;
}

#smwh_breadcrumbs {
    clear: both;
    margin-top: 0.2em;
    margin-left: 1.1em;
}

#smwh_breadcrumb_currentpage{
    display: inline;
}

/* mainpage */

#smwh_browser{
    margin-top: 2.5em;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 25px;
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}


#smwh_tabs{
    height: 25px;
    margin-top: 2.8em;
}

.tab{
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    position: relative;
    top: 1px;
    height: 20px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -khtml-border-top-left-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

#tabsleft .tab {
    float: left;
}

#tabsright .tab {
    float: right;
    margin-right: 0px;
}

#tabsright .righttabelements {
    float: right;
    padding-right: 5px;
    padding-left: 5px;
    border-right-width: 1px;
    border-right-style: solid;
}

.tab.selected{
    border-bottom: 1px solid #FFF;
    z-index: 1;
}

#editimage{
    margin-right: 5px;
    vertical-align: middle;
}

#helpimage{
    margin-top: 2px;
}


#tabsright ul.smwh_menulist{
    -moz-padding-start: 0px;
    margin: 0em;
    z-index: 20;
}

#tabsright ul.smwh_menulist li {
	  display: inline;
	  position: relative;
          z-index: 20;
}

#tabsright ul.smwh_menulist div.smwh_menuhead {
    display: inline-block;
    padding-left: 5px;
    padding-right: 15px;
    cursor: pointer;
}

#tabsright ul.smwh_menulist div.smwh_menubody {
    display: none;
}

#tabsright ul.smwh_menulist .hovering div.smwh_menubody {
    display: block;
}

#tabsright ul.smwh_menulist div.smwh_menubody {
    line-height: 1.5em;
    right: 0em;
}

#tabsright div.smwh_menubody_visible {
    margin-top: 5px;
}

#more{
    padding-left:  0px;
    padding-right: 0px;
}


#smwh_halopageoptions p{
    margin: 0px;
}



#mainpage{
    /*padding-bottom: 25px;*/
	clear: both;
    margin-top: 3px;
	margin-left: 10px;
	margin-right: 10px;
}


#mainpagetable{
  /*margin-top: 10px;*/
  border-spacing: 0px;
}

/* Page content */

#column-content{
    border-width: 1px;
    border-style: solid;
    padding: 15px;
}

#bodyContent{
    overflow: auto
}

#siteSub, #jump-to-nav, .printfooter{
    display: none;
}

/* page statistic */
#smwh_pstats{
 text-align:center;
}


/* page statistic */
#smwh_pstats{
 text-align:center;
}

/*footer*/


#footer{
    padding: 10px;
}

/* Treeview */

/* Treeview */





.treeviewtd{
  padding: 0px;
}

#smwh_treeviewtoggleleft.expanded, #smwh_treeviewtoggleright.expanded{
    right: 0px;
}
#smwh_treeview.expanded {
    right: 20px;
}

#smwh_treeview{
    z-index: 100;
    border-width: 1px;
    border-style: solid;
    position: fixed;
    top: 1%;
    height: 98%;
    display: none;
    padding: 5px;
    
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow:2px 2px 0 #D8D8D8, 2px 2px 15px rgba(0, 0, 0,0.3);
    -khtml-box-shadow:2px 2px 0 #D8D8D8, 2px 2px 15px rgba(0, 0, 0,0.3);
    -webkit-box-shadow:2px 2px 0 #D8D8D8, 2px 2px 15px rgba(0, 0, 0,0.3);
}

#smwh_treeview_content {
    overflow: auto;
    height: 95%;
}

#smwh_treeview_head{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 5px;
}
#smwh_treeview_close{
    position: absolute;
    right: 5px;
    top: 7px;
}

#smwh_treeviewtoggleright{
    position: fixed;
    margin-top: 33px;
    width: 29px;
    height: 33px;
    top: 50%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#smwh_treeviewtoggleleft{
    position: fixed;
    top: 50%;
    width: 29px;
    height: 33px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.smwh_treeviewleft{
    display: block !important;
    width: 500px;
}

.smwh_treeviewright{
    display: block !important;
    right: 3px;
}

/* special styles for Semantic Forms */

textarea.smwhCreateboxInput {
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset;
	background: none no-repeat scroll 0 0 #FFFFFF;
	border-color: #959595 #CCCCCC #CCCCCC #959595;
	border-style: solid;
	border-width: 1px;
	padding:3px;
 	width: auto;
}

/* SF: Used in 'create template' page */
.smwhFieldBox {
    border: 1px #a9c5d9 solid;
    background: #edf2f6;
    padding: 10px 20px 10px 20px;
    margin: 0px 20px 20px 20px;
}

/* SF: Used in 'create template' page */
.smwhFieldBox {
    border: 1px #a9c5d9 solid;
    background: #edf2f6;
    padding: 10px 20px 10px 20px;
    margin: 0px 20px 20px 20px;
}

/* SF: Used in 'create form' page */
.smwhTemplateForm {
    border: 1px #a9c5d9 solid;
    background: #edf2f6;
    padding: 0px 20px 10px 20px;
    margin-bottom: 20px;
}

table.formtable {
        background: #edf2f6;
		border: 1px #a9c5d9 solid;
}

* SF: Used in 'formedit' mode */
fieldset {
	border: 1px #a9c5d9 solid;
	background: #ffffff;
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	padding: 0.35em 0.625em 0.75em;
}

table.formtable input {
   -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset;
    background: none no-repeat scroll 0 0 #FFFFFF;
    border-color: #959595 #CCCCCC #CCCCCC #959595;
    border-style: solid;
    border-width: 1px;
	padding:3px;
	}

	
table.formtable select {
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset;
    background: none no-repeat scroll 0 0 #FFFFFF;
    border-color: #959595 #CCCCCC #CCCCCC #959595;
    border-style: solid;
    border-width: 1px;
	padding:3px;
}
	
textarea.mandatoryField {

   -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset;
    background: none no-repeat scroll 0 0 #FFFFFF;
    border-color: #959595 #CCCCCC #CCCCCC #959595;
    border-style: solid;
    border-width: 1px;
	padding:3px;

}	
	
table.formtable input input[type="text"]:active, input[type="password"]:active, select:active, input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
   -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset;
    background: none no-repeat scroll 0 0 #FFFFFF;
    border-color: #219EB5 #219EB5 #219EB5 #219EB5;
    border-style: solid;
    border-width: 1px;
	padding:3px;
	}
	
	

table.formtable	input[type="radio"], input[type="checkbox"] {
   -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset;
    background: none no-repeat scroll 0 0;
    border-color: none;
    border-style: solid;
    border-width: 1px;
}


table.formtable th {
	text-align: left;
	vertical-align: top;
	padding:3px;
}