#smwh_head {
    background: #FFF;
}

#smwh_head a {
    color: #116988;
}

#searchInput{
    border-color: #edede7;
}

#smwh_menu {
    background-image: url(../img/menue.gif);
}

.smwh_menuhead  {
    background: url(../img/menue_trennstrich.gif) right no-repeat;
}
.smwh_menuhead:hover {
    background: url(../img/menue_hover.gif) repeat-x;
}

ul.smwh_menulist div.smwh_menubody {
    background-color: #269fb2;
}




/* main page*/
.tab{
    background-color: #FFF;
    border-color: #cacac4;
}

#column-content{
    border-color: #cacac4;
    background-color: #FFF;
}

#mainpage{
    background-color: #edede7;
}

#mainpagetable{
    background-color: #edede7;
}

ul.smwh_menulist div.smwh_menuhead > p, ul.smwh_menulist div.smwh_menuhead > p a {
    color: #FFF;
    font-weight: 900;
}

#footer{
    background-color: #228e9e;
    background-image: url(../img/backgr_footer.gif);
    background-repeat: repeat-x;
}
