/* 
    Document   : skin-pagecontent
    Created on : Sep 14, 2009, 3:21:39 PM
    Author     : ulrich
    Description:
        Add the style for the page content
        Always add an #content before, so your
        styles won't apply to the rest of the skin
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/