/* 
    Document   : skin-pagecontent
    Created on : Sep 14, 2009, 3:21:39 PM
    Author     : ulrich
    Description:
        Add the style for the page content
        Always add an #content before, so your
        styles won't apply to the rest of the skin
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/**
* CSS for inline queries in table format
* just add a div to your page around content with class="smwtable"
*/

/* tables */

#content .smwtable{
	background-color: #ffffff;
	border-collapse:collapse;
	cellpadding: 8px;
	line-height: 1.5em;
}

#content .smwtable th{
	background-color: #ffffff;
	color: #116988;
	text-align: left;
	border-bottom-color:#116988;
	border-bottom-style:solid;
	border-bottom-width:2px;
}

#content .smwtable caption {
    background-color:#FFFFFF;
	color:#116988;
	text-align:center;
	font-size: 11pt;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 5px;
}



#content h1, #content h2,
#content h3, #content h4,
#content h5, #content h6 {
    border-bottom: 1px solid #000;
	overflow: hidden;
}

#content .smwfooter td{
	background-color: #FFF;
}

#content .smwtable{
	background: none;
}

#content .smwtable th{
	background: none;
	border-bottom: 2px solid #116988;
}

/**
FIX: 13866. 
#content .smwtable th a{
	color: #116988;
}
*/

#content .smwtable td{
	border-bottom: 1px solid #cccccc;
	background: #FFFFFF none repeat scroll 0 0;
}

#content .smwtable tr:hover td{
	background: #E8EDFF none repeat scroll 0 0;
}

/* even and odd in tables*/
#content .sortable .even,#content .smwtable .even{ 
background-color:#FFF; 
}

#content .sortable .odd,#content .smwtable .odd{
background-color:#cde6ea;
}

/* images */
div.floatright, table.floatright {
	clear: right;
	float: right;
	position: relative;
	margin: 0 0 .5em .5em;
	border: 0;
/*
	border: .5em solid white;
	border-width: .5em 0 .8em 1.4em;
*/
}
div.floatright p { font-style: italic; }

div.floatleft, table.floatleft {
	float: left;
	clear: left;
	position: relative;
	margin: 0 .5em .5em 0;
	border: 0;
/*
	margin: .3em .5em .5em 0;
	border: .5em solid white;
	border-width: .5em 1.4em .8em 0;
*/
}
div.floatleft p { font-style: italic; }

/* thumbnails */
div.thumb {
	margin-bottom: .5em;
	border-style: solid;
	border-color: white;
	width: auto;
}
div.thumbinner {
	border: 1px solid #ccc;
	padding: 3px !important;
	background-color: #f9f9f9;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}
html .thumbimage {
	border: 1px solid #ccc;
}
html .thumbcaption {
	border: none;
	text-align: left;
	line-height: 1.4em;
	padding: 3px !important;
	font-size: 94%;
}
div.magnify {
	float: right;
	border: none !important;
	background: none !important;
}
div.magnify a, div.magnify img {
	display: block;
	border: none !important;
	background: none !important;
}
div.tright {
	clear: right;
	float: right;
	border-width: .5em 0 .8em 1.4em;
}
div.tleft {
	/* float: left; */
	clear: left;
	margin-right: .5em;
	border-width: .5em 1.4em .8em 0;
}
img.thumbborder {
	border: 1px solid #dddddd;
}
.hiddenStructure {
	display: none;
}

#content .smwtable th {
        vertical-align: bottom;
}


/* emulate center */
.center {
        width: 100%;
                text-align: center;
}
    *.center * {
    margin-left: auto;
    margin-right: auto;
}



/* Pre */

pre {
	padding: 1em;
	border: 1px dashed #2f6fab;
	color: black;
	background-color: #f9f9f9;
	line-height: 1.1em;

        /*TODO: find a better solution for linebreaks*/
        /* width: 870px; */                    /* specify width so long links won't distort the layout - disabled since it causes problems with tables */
        white-space: pre-wrap;                 /* CSS3 browsers  */
        white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
        white-space: -pre-wrap;                /* Opera 4 thru 6 */
        white-space: -o-pre-wrap;              /* Opera 7 and up */
        word-wrap: break-word;                 /* IE 5.5+ and up */
        /* overflow-x: auto; */                /* Firefox 2 only */
        /*width: 99%; /*/         /* only if needed */
}

.content hr {
    background-color:#FFFFFF;
    border-color:#FFFFFF #FFFFFF #999999;
    border-style:none none dotted;
    border-width:medium medium 1px;
    clear:both;
    height:1px;
    margin-bottom:12px;
}

/* TOC */

#toc {
        background-color: #F0F0F0;
        border: 1px solid #4B595C;
}

#mw-data-after-content {
    margin-left: 1px;
}

/* emulate center */
.center {
	width: 100%;
	text-align: center;
}
*.center * {
	margin-left: auto;
	margin-right: auto;
}
#content{
    line-height: 1.5em;
}
sup{
    vertical-align: text-top;
}

h1 .editsection { font-size: 53%; font-weight: normal; }
h2 .editsection { font-size: 67%; font-weight: normal; }
h3 .editsection { font-size: 76%; font-weight: normal; }
h4 .editsection { font-size: 86%; font-weight: normal; }
h5 .editsection { font-weight: normal; }
h6 .editsection { font-size: 125%; font-weight: normal; }
