/**
* Global
*/

body{
    margin: 0px;
}

.mediawiki a{
    text-decoration: none;
}

.mediawiki a:hover{
   text-decoration: underline;
}

.mediawiki a img{
	border-width: 0px;
}

textarea {
    width:97%;
}

#shadows{
    width: 960px;
}

/* Head */


#smwh_head{
	position: relative;
	min-height: 70px;
	max-height: 135px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	overflow: hidden;
}

#smwh_personal #personal_expand {
    border-left-style: none;
}

#smwh_personal img{
    margin-right: 10px;
}

#smwh_personal a{
    margin-left: 5px;
    padding-left: 5px;
    border-left-width: 1px;
    border-left-style: solid;
}



#smwh_logo{
    float: left;
}

#smwh_personal{
    float: right;
    margin-right: 15px;
}

#smwh_search{
    height: 40px;
    float: right;
    position: absolute;
    bottom: 5px;
    right: 	15px;
}

#searchInput{
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 19px;
    position: relative;
    border-style: solid;
    border-width: 2px;
    padding: 8px;
    width: 340px;
    color: #000000;
    font-size: 90%;
}

#searchInput:focus{
	border: 2px solid #42a3b3;
	color: #000000;
}


/* Menu */

#home{
    float: left;
}

#smwh_menu{
    clear: both;
    height: 30px;
}

#smwh_menu .editsection{
    display: none;
}

ul.smwh_menulist{
    padding: 0px;
    margin: 0em;
}

ul.smwh_menulist div.smwh_menuhead > p {
    margin: 6px;
}

ul.smwh_menulist div.smwh_menuhead > p > a:hover  {
    text-decoration: underline;
}

ul.smwh_menulist li:hover {
    background: url(../img/menue_hover.gif) repeat-x;
}

ul.smwh_menulist li {
	  display: inline-block;
	  position: relative;
          
}

ul.smwh_menulist div.smwh_menuhead {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

ul.smwh_menulist div.smwh_menubody {
    display: none;
}

ul.smwh_menulist .hovering div.smwh_menubody {
    display: block;
}

ul.smwh_menulist div.smwh_menubody {
    width: auto;
    position: absolute;
    top: 24px;
    z-index: 20;
}

ul.smwh_menulist div.smwh_menubody td:hover  {
	background: #E8EDFF none repeat scroll 0 0;
}


ul.smwh_menulist div.smwh_menubody_visible {
    margin-top: 2px;
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    -moz-border-radius: 5px;
}



#menuright{
    float: right;
}

#menuright div.smwh_menubody{
    right: 0em;
}

#menuleft{
    float: left;
}

#menuleft div.smwh_menubody{
    left: 0em;
}

#toolsimage{
    margin-left: 5px;
}

/* breadcrumbs */

#thispage{
    float: left;
    margin-right: 10px;
}

#smwh_breadcrumbs{
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: smaller;
}

/* mainpage */

#smwh_browser{
    margin-top: 1.5em;
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 5px;
}


#smwh_tabs{
    height: 1.5em;
}

.tab{
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    position: relative;
    top: 1px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
}

#tabsleft .tab {
    float: left;
}

#tabsright .tab {
    float: right;
    margin-right: 0px;
}

#tabsright .righttabelements {
    float: right;
    padding-right: 5px;
    padding-left: 5px;
    border-right-width: 1px;
    border-right-style: solid;
}

.tab.selected{
    border-bottom: 1px solid #FFF;
    z-index: 1;
    font-weight: bolder;
}

#editimage{
    margin-right: 5px;
}

/* aggregated functions in tab */

#aggregated {
    border-right: none !important;
}

#tabsright ul.smwh_menulist{
    -moz-padding-start: 0px;
    margin: 0em;
}

#tabsright ul.smwh_menulist li {
	  display: inline;
	  position: relative;
}

#tabsright ul.smwh_menulist div.smwh_menuhead {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

#tabsright ul.smwh_menulist div.smwh_menubody {
    display: none;
}

#tabsright ul.smwh_menulist .hovering div.smwh_menubody {
    display: block;
}

#tabsright ul.smwh_menulist div.smwh_menubody {
    width: auto;
    position: absolute;
    top: 1.2em;
    padding: 5px;
    z-index: 20;
    right: 0em;
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 5px;
}

#smwh_halopageoptions p{
    margin: 0px;
}



#mainpage{
    clear: both;
    margin-top: 3px;
    min-height: 400px;
    padding-bottom: 25px;
}


#mainpagetable{
  margin-top: 10px;
}

/* Page content */

#column-content{
    border-width: 1px;
    border-style: solid;
    padding: 5px;
}

#bodyContent{
    overflow: auto
}

#siteSub, #jump-to-nav, .printfooter{
    display: none;
}

/*footer*/

#footer{
    padding: 10px
}

