/* Special:Search*/

#us_didyoumean {
	width: 97%;
	margin-bottom: 10px;
	margin-top: 10px;
}

#us_didyoumean i {
	color: red;
}

#us_didyoumean a {
	text-decoration: underline;
}

#us_refineresults,#us_refineresults_hide {
	width: 97%;
	border: 2px solid #AAA;
	padding: 5px;
}

#us_refineresults .filtercolumn,#us_refineresults_hide .filtercolumn {
	padding-left: 15px;
}

#us_refineresults .filtercolumn>div,#us_refineresults_hide .filtercolumn>div
	{
	margin: 6px;
}

#us_refineresults .filtercolumn>div>img,#us_refineresults_hide .filtercolumn>div>img
	{
	vertical-align: baseline;
	margin-top: 1px;
}

#us_refineresults .filtercolumn>div>a,#us_refineresults_hide .filtercolumn>div>A
	{
	margin-left: 6px;
	vertical-align: top;
}

.us_browsing_left {
	
}

.us_browsing_middle {
	text-align: center;
	color: gray;
}

.us_browsing_right {
	width: 33%;
	text-align: right;
}

#us_searchform {
	margin-bottom: 10px;
}

#us_newpage {
	margin-bottom: 10px;
}

#us_refineresults .us_refinelinks {
	padding: 3px;
}

#us_refineresults .us_refinelinks_highlighted {
	padding: 3px;
	background-color: #BBB;
	color: white;
	font-weight: bold;
}

#us_searchresults_tab {
	list-style-type: none;
	padding: 0;
	margin: 2px;
	width: 98%;
}

#us_searchresults_tab>table {
	border-collapse: collapse;
	width: 100%;
}
/*
#us_searchresults_tab>table td {
	border-bottom: 2px solid #AAA;
}*/

#us_searchresults_tab .us_tab_label {
	white-space: nowrap;
	padding: 5px;
	cursor: pointer;
	color: #666;
}

/*
.us_searchresults_tab_spacer {
	border-bottom: 2px solid #AAA;
	width: 20px;
}*/

/*
.us_searchresults_tab_filler {
	border-bottom: 2px solid #AAA;
	width: 100%;
}*/

/*#us_searchresults_tabcontent {
	border-left: 2px solid #AAA;
	border-right: 2px solid #AAA;
	border-bottom: 2px solid #AAA;
}*/

#us_searchresults {
	border: 2px solid #AAA;
	padding: 5px;
	width: 97%;
	list-style-type: none;
}

#us_searchresults .searchmatch {
	color: black;
	font-weight: bold;
}

#us_fulltext_results .searchmatch {
	color: black;
	font-weight: bold;
}

#us_resultinfo {
	border-bottom: 1px solid;
	margin: 6px;
}

.us_search_result_link {
	margin: 6px;
	font-weight: bold;
}

.us_search_result {
	margin: 8px; /* needed because border-spacing does not work on IE */
}

.us_search_result .snippet {
	font-size: 90%;
	margin-left: 25px;
}

.us_search_result .metadata {
	font-size: 90%;
	margin-left: 25px;
	color: darkgreen;
}

.us_search_result .category {
	font-size: 90%;
	margin-left: 25px;
}

#us_browsing_top,#us_browsing_bottom,#us_browsing_top_hide,#us_browsing_bottom_hide
	{
	margin-top: 10px;
	width: 98%;
}

.us_description {
	border: 2px solid #AAA;
	padding: 10px;
	margin: 5px;
}

/* Special:EnhancedRetrievalStatistics */
#us_statistics_table tr>td:first-child {
	text-align: right;
}

#us_statistics_results th {
	background-color: #CCC;
}

#us_statistics_results tr :first-child {
	background-color: #FFFFFF;
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	vertical-align: top;
	width: 300px;
}

#us_statistics_results td {
	background-color: #FFFFFF;
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	vertical-align: top;
	width: 100px;
}