.df_checkinst_error {
	color: red;
	font-weight:bold;
}

.df_checkinst_ok {
	color: green;
    font-weight:bold;
}

.df_checkinst_links {
	margin-top: 10px;
}

#df_updatesection {
    border-width: 3px;
    border-style: solid;
     border-color: green;
     padding: 5px;
}