#qicontent{
  cursor: default;
  font-family: sans-serif;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  max-width:100%;
  width: 99%;
  height:750px;
}

#shade{
  position: fixed;
  top: 0px;
  left: 0px;
  background:#444444;
  -moz-opacity: 0.2;
  filter:alpha(opacity=20);
  opacity: 0.2;
  -khtml-opacity: 0.2;
  width:100%;
  height:100%;
  z-index: 50;
}

#qimenubar{
  border: 1px solid #C0C0C0;
  background: #DDDDDD;
  width:100%;
  float:left;
  margin-top:10px;
  position:relative;
}

#qimenubar > span {
  position:absolute;
  right:13px;
}

.qibutton{
  font-family: sans-serif;
  text-decoration: underline;
  color: #0000FF;
  cursor: pointer;
  padding: 5px;
}

.qibuttonEmp {
  font-family: sans-serif;
  text-decoration: underline;
  color: #FF9900;
  cursor: pointer;
  padding-right: 5px;
  padding-left: 5px;
}

.qiaddbuttons{
  background: none;
  border: 1px;
  border-collapse: separate;
  color: windowframe;
  cursor: auto;
  font: 12px Arial,Helvetica,Tahoma,Verdana,Sans-Serif;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
  width: auto;
}

div.qiaddbuttons{
  padding-top: 10px;
  float: left;
}

div.qiaddbuttons span img{
  vertical-align: text-top;
}

#treeview{
  border: none;
  float:left;
  margin-right: 10px;
  width: 100%;
  height:100%;
}

#treeanchor{
  overflow:auto;
  height:100%;
}

#treeviewbreadcrumbs{
  overflow-x:auto;
  border-bottom: 1px solid #AAAAAA;
  padding-top: 2px;
  padding-bottom: 3px;
}

.dragbox{
  float:left;
  width:59%;
  height: 300px;
  border: 1px solid #AAAAAA;
  float:left;
}

.dragboxFloat{
  float:left;
  width:59%;
  height: 300px;
  border: 1px solid #AAAAAA;
  float:left;
  overflow: auto;
}

#boxcontent {
  width:100%;
  height: 230px;
  float:left;
  overflow:auto;
}

#boxcontent img{
  cursor:pointer;
}

.helpcontent {
  border: 1px solid #AAAAAA;
  min-width: 28%;
  width:28%;
  height: 209px;
  float:left;
  overflow:auto;
  margin-left:5px;
  background-color: #FFFFCC;
  border: 1px solid #E6E600;
}

hr {
  color: #AAAAAA;
  background-color: #AAAAAA;
  height: 1px;
  border: none;
  width: 100%;
}

#qi-help-headline{
  background-color: #E6E600;
  font-weight: bold;
  color: #FFF;
  /*	padding-top: 1px; */
  padding-left: 3px;
}

#qi-help-content{
  background-color: #FFFFCC;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height:13px;
  font-size: 11px;
}

.qi_tab_active{
  border: 1px solid #AAAAAA;
  border-top:1px solid #FFFFFF;
  padding-left: 2px;
  padding-right:2px;
}

.qi_tab{
  background:#DDDDDD;
  border: 1px solid #AAAAAA;
  padding-left: 2px;
  padding-right:2px;
}

.qibox {
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #AAAAAA;
  z-index: 51;
  left: 25%;
  top: 25%;
}

.qiboxheader{
  font-weight: bold;
  color: #000000;
  background: #DDDDDD;
  border-bottom: 1px solid #AAAAAA;
}

.qiboxcontent{
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.qiboxcontent img{
  border:1px solid #999999;
  cursor:pointer;
}

#tablecolumnpreview{
  width:73%;
  min-width:73%;
  float:left;
  margin-top:9px;
}

#tcp{
  border-collapse:collapse;
}

#tcp td{
  border:1px solid #AAAAAA;
  padding-left:4px;
  padding-right:4px;
}

.tcp_boxheader{
  font-weight: bold;
  color: #000000;
  background: #DDDDDD;
  border: 1px solid #AAAAAA;
  cursor:pointer;
}

.tcp_boxcontent{
  border: 1px solid #AAAAAA;
  border-top:0px;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  height: 25px;
}

#querylayout, .querylayout{
  width:98%;
  float:left;
  margin-top: 10px;
  margin-left: 2%;
}


#layoutcontent, #queryprinteroptions, .layoutcontent {
  border:1px solid #AAAAAA;
  background: #FFFFFF;
}

#layoutcontent > table, .layoutcontent > table {
  width:100%;
}

#layoutcontent select{
  /*width:95%;*/
}

#previewlayout{
  width:98%;
  float:left;
  margin-top: 10px;
  margin-left: 2%;
}

#qioptiontitle, #definitiontitle, #qiresulttitle, #layouttitle, #previewtitle, .layouttitle{
  border: none;
  min-height: 20px;
}
#qioptiontitle span, #definitiontitle span, #qiresulttitle span, #layouttitle span, #previewtitle span, .layouttitle{
  cursor:pointer;
  font-weight: bold;
}
#previewcontent{
  border:1px solid #AAAAAA;
  background: #FFFFFF;
  height: 160px;
  overflow: auto;
}

#qioptionlayout {
  width:98%;
  float:left;
  margin-left: 2%;
  margin-bottom: 10px;
}

#qioptioncontent{
  border:1px solid #AAAAAA;
  background: #FFFFFF;
  overflow: auto;
  padding-left: 5px;
  padding-right: 5px;
}

#qioptioncontent td {
  vertical-align: top;
}

#qidatasourceselector{
  border: 1px solid #AAAAAA;
  width: 20em;
}

.qiConnectionError {
  background-color: #FF0000;
  color: #ffffff;
}

.qlm_input{
  /*width:94%;*/
}

.selectbox{
  float:left;
  border: 1px solid #AAAAAA;
  margin-left:10px;
}
.selectboxheader{
  font-weight: bold;
  color: #000000;
  background: #DDDDDD;
  border-bottom: 1px solid #AAAAAA;
}

.selectboxcontent{
  background:#FFFFFF;
  padding:5px;
}

a.minusplus{
  background-image:url(images/down.png);
  float:left;
  height:16px;
  margin-right:4px;
  margin-top:1px;
  overflow:hidden;
  width:16px;
}

a.plusminus{
  background-image:url(images/right.png);
  float:left;
  height:16px;
  margin-right:4px;
  margin-top:1px;
  overflow:hidden;
  width:16px;
}

.subquerycell{
  border-left:1px solid;
  border-color: #AAAAAA;
}

.topDialogue{
  position:fixed;
  z-index:51;
  top:25%;
  left:30%;
  background:#FFF;
  border: 1px solid #AAAAAA;
  padding:5px;
}

#showAsk {
  width:350px;
}

#showParserAskButton {
  font-weight: bold;
  text-decoration: none;
  cursor: default;
}

#fullAskTextOld {
  width:95%;
}

#dialoguecontent tr td{
  text-align:right;
}

#dialoguecontent tr td td{
  text-align:left;
}

.treesub{
  font-weight:bold;
}

button.btn{
  color:#000;
  font-family:'trebuchet ms',helvetica,sans-serif;
  font-size:84%;
  font-weight:bold;
  background-color:#eee;
  border:1px solid;
  border-top-color:#c0c0c0;
  border-left-color:#c0c0c0;
  border-right-color:#606060;
  border-bottom-color:#606060;
  margin:2px;
  cursor: pointer;
}
button.btnhov{
  border-top-color:#00f;
  border-left-color:#00f;
  border-right-color:#00f;
  border-bottom-color:#00f;
  cursor: pointer;
}

#queryprinteroptions {
  border-top:1px solid;
  display:block;
}

#queryprinteroptions td[onmouseover] {
  width: 120px;
}

#queryprinteroptions td[onmouseover] + td {
  width: 400px;
}

#qiresultcontent{
  width: 100%;
  border-collapse: collapse;
}
#qiquerydefinition {
  float:right;
  width: 98%;
  border-collapse: collapse;
}
#qiDefTab {
  float:right;
  width: 40%;
}

#qiDefTabInLoad {
  float:right;
  width: 40%;
  display:none;
}

#qiDefTab > table, #qiDefTabInLoad > table {
  border-collapse:collapse;
  empty-cells:show;
  width:100%;
  height:20px;
}

#qiLoadTabResult {
  display : none;
}

.qiLoadTabResultHead {
  border: none;
  width : 100%;
}

.qiLoadTabResultHeadLeft {
  width: 60%;
}
.qiLoadTabResultHeadRight {
  width: 40%;
}

.qiLoadTabResultTable {
  border : none;
  border-collapse:collapse;
  width: 100%;
}
.qiLoadTabResultTableFirstRow {
  border-bottom: #AAAAAA 1px solid;
  text-align: left;
}

.qiLoadTabResultTableSelected {
  border-bottom: #AAAAAA 1px solid;
  border-top: #AAAAAA 1px solid;
  font-weight: bold;
  background-color:#fafafa;
}

.qiDefTabActive {
  font-size:84%;
  font-weight: bold;
  white-space:nowrap;
  cursor:pointer;cursor:hand;
  padding: 0.1em 6px;
  padding-top: 3px;
  border-color: #AAAAAA;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-top-width: 1px;
  border-top-style: solid;
  color: #269FB2;
  font-size: larger;
  font-weight: bold;
}
.qiDefTabInactive {
  font-size:84%;
  white-space:nowrap;
  cursor:pointer;cursor:hand;
  padding: 0.1em 6px;
  padding-top: 3px;
  background-color:#fafafa;
  border: 1px solid #AAAAAA;
  color: #269FB2;
}

.qiDefTabSpacer {
  padding: 2px;
  border-bottom: 1px solid #cacac4;
}
.qiDefTabContent {
  border-color: #AAAAAA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  height: 276px;
}
.qiDisabled {
  color: #AAAAAA;
}
.qiMainTabLabel {
  font-size: larger;
  color: #269FB2;
  font-weight:bold;
}
#qistatus {
  padding-left: 5px;
}
#qitextview , #qisource {
  display: none;
  height:100%;
}

#qisource > textarea {
  height:85%;
}

.qiBoxcontentTable {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.qiTree td {
  vertical-align: top;
}

#usesub_text {
  font-style: italic;
}


#stb-qi-footer-spacer {
/*  height:60px;*/
}
#stb-qi-footer-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
/*  font-size: 70%;*/
}

#stb-qi-footer-container {
  background: white;
/*  height: 30px;*/
/*  font-size: 70%;*/
}

#stb-qi-footer {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  vertical-align: bottom;
/*  font-size: 70%;*/
}
#stb-qi-footer input {
  margin: 5px;
}
.qiTpeeSelected {
  color: white;
  background-color: blue;
}
.qitpeeparamval {
  font-size: smaller;
  border: #000 1px solid;
  line-height: normal;
}

#switchToSparqlBtn{
  float:right;
}

#qiTopToolbar, #qiBottomToolbar{
  height: 30px;
  background-color: #DDDDDD;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 100%;
}

#qiTopToolbar button{
  float: right;
  margin-right: 10px;
  margin-bottom: 3px;
  margin-top: 3px;
}

#qiBottomToolbar button, #qiBottomToolbar a{
  float: none;
  margin-left: 10px;
  margin-bottom: 3px;
  margin-top: 3px;
}

#qiBoxcontent { 
  vertical-align: top;
}

#qiDetailsTable{
  float:left;
  width:59%;
  height: 300px;
  border: 1px solid #AAAAAA;
  border-spacing: 0;
  border-collapse: collapse;
}

#qiBoxcontent table{
}

#qiBoxcontent table td{
  width: 180px;
}

#qiBoxcontent div{
  vertical-align: top;
  overflow:auto;
  padding: 5px;
  height: 223px;
}

#qiBoxcontent img{
  cursor: pointer;
}

.typeLabelTd{
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 9px;
  color: #999999;
  width: 200px;
  overflow: hidden;
}

#layout_sort{
  width: 235px;
}