#qicontent{
cursor: default;
font-family: sans-serif;
font-size-adjust:none;
font-style:normal;
font-variant:normal;
max-width:100%;
width: 99%;
height:550px;
}

#shade{
position: fixed;
top: 0px;
left: 0px;
background:#444444;
-moz-opacity: 0.2;
filter:alpha(opacity=20);
opacity: 0.2;
-khtml-opacity: 0.2;
width:100%;
height:100%;
z-index: 50;
}

#qimenubar{
border: 1px solid #C0C0C0;
background: #DDDDDD;
width:100%;
float:left;
margin-top:10px;
position:relative;
}

#qimenubar > span {
	position:absolute;
	right:13px;
}

.qibutton{
font-family: sans-serif;
text-decoration: underline;
color: #0000FF;
cursor: pointer;
padding-right: 5px;
padding-left: 5px;
}

div.qiaddbuttons{
padding-top: 10px;
float: left;
}

div.qiaddbuttons span img{
vertical-align: text-top;
}

#treeview{
border: none;
float:left;
margin-top: 10px;
margin-right: 10px;
width: 100%;
height:100%;
}

#treeanchor{
overflow:auto;
height:100%;
}

#treeviewbreadcrumbs{
overflow:auto;
}

.dragbox{
    float:left;
    width:59%;
    height: 300px;
    margin-bottom: 10px;
}
.boxcontent {
border: 1px solid #AAAAAA;
width:100%;
height: 100%;
float:left;
overflow:auto;
}

.boxcontent img{
cursor:pointer;
}

.helpcontent {
border: 1px solid #AAAAAA;
min-width: 28%;
width:28%;
height: 209px;
float:left;
overflow:auto;
margin-left:5px;
background-color: #FFFFCC;
border: 1px solid #E6E600;
}

#qi-help-headline{
	background-color: #E6E600;
	font-weight: bold;
	color: #FFF;
/*	padding-top: 1px; */
	padding-left: 3px;
}

#qi-help-content{
	background-color: #FFFFCC;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height:13px;
	font-size: 11px;
}

.qi_tab_active{
border: 1px solid #AAAAAA;
border-top:1px solid #FFFFFF;
padding-left: 2px;
padding-right:2px;
}

.qi_tab{
background:#DDDDDD;
border: 1px solid #AAAAAA;
padding-left: 2px;
padding-right:2px;
}

.qibox {
position: absolute;
background: #FFFFFF;
border: 1px solid #AAAAAA;
z-index: 51;
left: 25%;
top: 25%;
}

.qiboxheader{
font-weight: bold;
color: #000000;
background: #DDDDDD;
border-bottom: 1px solid #AAAAAA;
}

.qiboxcontent{
padding-left: 10px;
padding-top: 5px;
padding-right: 10px;
padding-bottom: 5px;
}

.qiboxcontent img{
border:1px solid #999999;
cursor:pointer;
}

#tablecolumnpreview{
width:73%;
min-width:73%;
float:left;
margin-top:9px;
}

#tcp{
border-collapse:collapse;
}

#tcp td{
border:1px solid #AAAAAA;
padding-left:4px;
padding-right:4px;
}

.tcp_boxheader{
font-weight: bold;
color: #000000;
background: #DDDDDD;
border: 1px solid #AAAAAA;
cursor:pointer;
}

.tcp_boxcontent{
border: 1px solid #AAAAAA;
border-top:0px;
padding-left: 10px;
padding-top: 5px;
padding-right: 10px;
padding-bottom: 5px;
height: 25px;
}

#querylayout{
width:100%;
float:left;
margin-top: 10px;
}


#layoutcontent, #queryprinteroptions {
border:1px solid #AAAAAA;
background: #FFFFFF;
}

#layoutcontent > table {
	width:100%;
}

#layoutcontent select{
/*width:95%;*/
}

#previewlayout{
width:100%;
float:left;
margin-top: 10px;
}

#definitiontitle, #qiresulttitle, #layouttitle, #previewtitle{
cursor:pointer;
font-weight: bold;
border: none;
}

#previewcontent{
border:1px solid #AAAAAA;
background: #FFFFFF;
height: 160px;
overflow: scroll;
}

.qlm_input{
/*width:94%;*/
}

.selectbox{
float:left;
border: 1px solid #AAAAAA;
margin-left:10px;
}
.selectboxheader{
font-weight: bold;
color: #000000;
background: #DDDDDD;
border-bottom: 1px solid #AAAAAA;
}

.selectboxcontent{
background:#FFFFFF;
padding:5px;
}

a.minusplus{
	background-image:url(images/down.png);
	float:left;
	height:16px;
	margin-right:4px;
	margin-top:1px;
	overflow:hidden;
	width:16px;
}

a.plusminus{
	background-image:url(images/right.png);
	float:left;
	height:16px;
	margin-right:4px;
	margin-top:1px;
	overflow:hidden;
	width:16px;
}

#fullpreviewbox{
position:fixed;
z-index:51;
top:10%;
left:10%;
background:#FFF;
border: 1px solid #AAAAAA;
padding:10px;
}

#fullpreview{
padding:5px;
max-height:200px;
overflow:auto;
}

.subquerycell{
border-left:1px solid;
border-color: #AAAAAA;
}

.topDialogue{
position:fixed;
z-index:51;
top:25%;
left:30%;
background:#FFF;
border: 1px solid #AAAAAA;
padding:5px;
}

#showAsk {
	width:350px;
}

#showParserAskButton {
	font-weight: bold;
	text-decoration: none;
	cursor: default;
}

#fullAskTextOld {
	width:95%;	
}

#dialoguecontent tr td{
text-align:right;
}

#dialoguecontent tr td td{
text-align:left;
}

.treesub{
font-weight:bold;
}

button.btn{
color:#000;
font-family:'trebuchet ms',helvetica,sans-serif;
font-size:84%;
font-weight:bold;
background-color:#eee;
border:1px solid;
border-top-color:#c0c0c0;
border-left-color:#c0c0c0;
border-right-color:#606060;
border-bottom-color:#606060;
margin:2px;
cursor: pointer;
}
button.btnhov{
border-top-color:#00f;
border-left-color:#00f;
border-right-color:#00f;
border-bottom-color:#00f;
cursor: pointer;
}

#queryprinteroptions {
	border-top:1px solid;
	display:block;
}

#queryprinteroptions td[onmouseover] {
    width: 120px;                        
}

#queryprinteroptions td[onmouseover] + td {
    width: 400px;                        
}

#qiresultcontent, #qiquerydefinition {
    padding-left: 10px;
}

#qiDefTab {
    height: 300px;
    float:right;
    width: 40%;
    padding-top: 1px;
    margin-bottom: 10px;
}

#qiDefTab > table {
	border-collapse:collapse;
	empty-cells:show;
	width:100%;
	height:100%;
}

.qiDefTabActive {
    font-family:'trebuchet ms',helvetica,sans-serif;
    font-size:84%;
    font-weight: bold;
    white-space:nowrap;
    cursor:pointer;cursor:hand;
    padding: 0.1em 6px;
    padding-top: 3px;
	border-color: #AAAAAA;
	border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
}
.qiDefTabInactive {
    font-family:'trebuchet ms',helvetica,sans-serif;
    font-size:84%;
    white-space:nowrap;
    cursor:pointer;cursor:hand;
    padding: 0.1em 6px;
    padding-top: 3px;
	background-color:#fafafa;
	border-color: #AAAAAA;
	border-width: 1px;
    border-style: solid;
}
.qiDefTabSpacer {
    padding: 2px;
    border-bottom-width: thin;
    border-bottom-color: #cacac4;
    border-bottom-style: solid;
}
.qiDefTabContent {
    border-color: #AAAAAA;
    border-bottom-width: 1px;
    border-bottom-style: solid;
	border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    height: 100%;
}

#qitextview , #qisource {
	display: none;
	height:100%;
}

#qisource > textarea {
	height:98%;
}