@CHARSET "ISO-8859-1";

.pageAlreadyExists{
	border: 2px solid red;
    background: #ffc;	
    cursor: pointer;
    color: maroon;
    text-decoration: underline;
}

.pageDoesntExist{
	border: 2px solid green;
    background: #ffc;
}

.fancyboxTable{
	width: 100%;
}


.fancyboxTitleTd, .userInstructionSpan, .articleExistsErrorTd, .layoutDescriptionTd, .userInstructionTd, .btnTable a{
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;	
}

.fancyboxTitleTd{
	border-bottom: 1px solid silver;
	text-align: center;
	font-size: larger;
	vertical-align: middle;
}

.fancyboxTitleTd img{
	float: right;
	margin: 0;
	cursor: pointer;
}

.userInstructionTd{
	color: gray;
	padding-top: 10px;	
}

.userInstructionSpan{
	
}

#articleExistTableTd{
	height: 40px;	
}

#articleExistTable td{
	color: red;
	vertical-align: top;
}

#errorImgTd, .articleExistsErrorTd{
	
	
}

.articleNameInput{
	width: 350px;	
}

.templatesAndCategoriesSelect{
	width: 355px;	
}

.layoutDescriptionTd{
	height: 60px !important;
	color: gray;
	padding-top: 10px;
	
	
}

.layoutDescriptionSpan{
	font-weight: normal;
	width: 200px;	
	overflow: hidden;
}

.btnTableTd{
	border-top: 1px solid silver;	
}

.btnTable td{
	padding: 5px;	
}

.btnTable a{
	text-decoration: none;
	cursor: pointer;
	color: blue;	
	font-weight: normal;
}

.btnTable input{
	width: 100px;	
}

#createNewArticleCtrl{
	float: left;
	padding-right: 10px;
	padding-bottom: 3px;
	margin-top: 5px;
	margin-right: 30px;
	font-size: smaller;
	cursor: pointer;
	border: 0px solid black;
	vertical-align: middle;
}

#createNewArticleCtrl a{
	margin-bottom: 10px;
}

#listOfTemplatesAndCategories option {
}

#selectedDescImgTd{
	vertical-align: top;	
	overflow: hidden;
}

.greenInputBox{
	background-color: lightgreen;
	border: 1px solid gray;	
}

.redInputBox{
	background-color: red;
	border: 1px solid gray;	
}

.whiteInputBox{
	background-color: white;
	border: 1px solid gray;		
}