/*
** MediaWiki 'monobook' style sheet for CSS2-capable browsers.
** Copyright Gabriel Wicke - http://wikidev.net/
** License: GPL (http://www.gnu.org/copyleft/gpl.html)
**
** Loosely based on http://www.positioniseverything.net/ordered-floats.html by Big John
** and the Plone 2.0 styles, see http://plone.org/ (Alexander Limi,Joe Geldart & Tom Croucher,
** Michael Zeltner and Geir B�kholt)
** All you guys rock :)
*/

/**
 * Stylesheet for screen/projection.  All rules not marked media-specific are
 * shared with handheld.css and should be updated in tandem.  The rules can't
 * be in the same file because old browsers like IE5 won't obey @media rules.
 *
 * Rules that are screen/projection-specific are marked with commented-out
 * @media rules and indentation.
 */


/**
 * Here is some stuff that's ACTUALLY COMMON TO ALL SKINS.
 * When the day comes, it can be moved to a *real* common.css.
 */
.mw-plusminus-null { color: #aaa; }
.texvc { direction: ltr; unicode-bidi: embed; }
/* Stop floats from intruding into edit area in previews */
#toolbar, #wpTextbox1 { clear: both; }

/**
* Here is OntoSkin specific stuff
*/


/**
* Global
*/

.mediawiki{
	font-family: sans-serif;
}

.mediawiki a img{
	border-width: 0px;
}

/**
* Head
*/

#smwf_head{
	position: relative;
	background: #FFF;
	height: 85px;
	border-bottom: 5px solid #67666b;
}

#smwf_logo{
}

#p-personal {
	float: right;
	position: absolute;
	text-align: right;
	top: 10px;
	right: 15px;
	font-size: smaller;
	font-weight: bold;
}

#p-personal a {
	color: #67666b;
	list-style: none;
	margin-right: 0.5em;
	text-decoration: none;	
}

#p-personal a:hover {
	text-decoration: underline;	
}

.searchButton {
	background-color: #005C81;
	color: #FFF;
	border-style: groove;
}

#search {
	float: right;
	position: absolute;
	bottom: 10px;
	right: 	15px;
}

/**
* naviblock
*/
#smwf_catlinkblock{
	background: #fcf4c6 url(navigationblockbg.png) scroll repeat-x;
	height: 100px;
	display: none;
}

/**
* breadcrumps
*/

#smwf_breadcrump{
	background-color: #bed0d5;
}

#smwf_breadcrump_table{
	width: 100%;
	background-color: #bed0d5;
}

#breadcrump{
	background-color: #bed0d5;
}

#breadcrump a{
	background-color: #bed0d5;
	float: left;
	margin-left: 10px;
	font-size: small;
	color: #67666B;
	text-decoration: none;
}

/**
* tab block
*/


#smwf_tabblock{
	clear: both;
	position: relative;
	background-color: #0091a6;
	height: 1.7em;
}
#smwf_tabcontainer{
	position: absolute;
	left: 200px;
}



.smwf_tabs{
	border-right: 1px dotted #FFF;
	margin-right: 1em;
	margin-top: 0.1em;
	height:	1.4em;
	/* overflow: hidden; */
}

.smwf_tabs a{
	text-transform: lowercase;
	color: #FFF;
	font-size: small;
	text-decoration: none;
	background-color: #0091a6;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px; 
	padding-left: 10px;
	padding-right: 10px;
	white-space: nowrap;
}
.selected{
	background-color: #FFF;
	border-right: none;
	margin-right: 0.5em;
	margin-top: 0.1em;
	height: 1.4em;
}

.selected a{
	text-transform: lowercase;
	color: #707e81;
	text-decoration: none;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	background-color: #FFF; 
}


/**
* main block
*/

#smwf_mainblock{
}

/**
* navi block
*/

#smwf_naviblock{
	width: 200px;
	float: left;
	background-color: #E6E6E6;
}

.smwf_navihead{
	background: #FFF url(Sticki_nav_backgr.gif) bottom repeat-x;
	margin-top: 5px;
	padding: 5px;
	padding-left: 15px;
	color: #C0C029;
	font-weight: bold;
	position: relative;
}

.icon_navi{
	position: absolute;
	right: 0.4em;
	top: 0.5em;
}	

.smwf_navihead p{
	font-size: small;
	margin-left: 1em;
	font-weight: 900;
}

.naviitemtable{
	width: 100%;
}

.smwf_naviitem{
	background-color: #E6E6E6;
	width: 100;
	border-bottom: 1px solid #FFF;
	padding-left: 5px;
}

.smwf_naviitem a{
	position: relative;
	color: #005C81;
	text-decoration: none;	
	font-weight: bold;
	font-size: smaller;
}

#smwf_browserview{

}

#smwf_browserview a{
	color: #4B595C;
	vertical-align: middle;
}

#smwf_browserview .dTreeNode{
	font-size: smaller;
}

#smwf_browserview .dTreeNode img{

}

#smwf_browserview .Treeview5{
	width: 190px;
	margin-left: 5px;
}

#smwf_browserview .dtree .clip{
	overflow: visible; 
}

#smwf_browserview .dTreeNode{
	font-size: smaller;
}

#smwf_browserview .dTreeNode img{

}

#smwf_browserview .Treeview5{
	width: 190px;
	margin-left: 5px;
}

#maintree .dtree{
	overflow: auto;
}

#OntoSkinTemplateNavigationEnd{
	list-style-type: none;
}

/**
* page block
*/
#smwf_socialbookmarks{
	position: absolute;
	right: 10px;
	top: 5px;
}

#smwf_pageblock{
	position: relative;
	margin-left: 220px;
}

#smwf_pageblock ul{
	list-style-type: circle;
}

.smwf_pageblock a{
	color: #0091A6;
	text-decoration: none;
}

.smwf_pageblock a:hover{
	text-decoration: underline;
}

#smwf_pageblock ul a{
}

#smwf_pageblock h1,#smwf_pageblock h2,#smwf_pageblock h3,#smwf_pageblock h4,#smwf_pageblock h5,#smwf_pageblock h6 {
	color:  #000;
	background: none;
	font-weight: bold;
	font-size: normal;
}

#smwf_pageblock h1{
	font-size: x-large;
	border-bottom: 1px solid #4B595C;
}

#smwf_pageblock h2{
	font-size: large;
	border-bottom: 1px solid #4B595C;
}

.printfooter{
	display: none;
}

#toc{
	border: 1px solid #4B595C;
	background-color: #F0F0F0;
}

#toc a{
	color: #0091A6;
}


#toc h2{
	color: #4B595C;
	font-size: large;
	border-bottom: 1px solid #4B595C;
}

#siteSub{
	display: none;
}

#contentSub{
	position: relative;
	font-size: smaller;
	text-align: right;
}

#contentSub a{
	font-size: small;
}

#jump-to-nav{
	display: none;
}

.editsection{
	float: right;
	font-size: smaller;
}


#ontologybrowser a{
		/** Set links to blue */
		color: #00D;
}

textarea{
	width: 97%;
}

/**
* My Preferences
*/

#preftoc {
	float: left;
	margin-right: 10px;
}

#preftoc .selected{
	font-weight: bold;
	margin: 0px;
}

#preftoc .selected a{
	margin: 0px;
	text-transform: none;
}

#prefcontrol{
	border: 1px solid #777;
	padding: 5px;
	clear: left;
	margin: 5px;
}

/**
* footer block
*/

#smwf_footerblock{
	border-top: 2px solid #67666B;
	clear: both;
	border-bottom: 2px solid #67666B;
	height: 3.5em;
	margin-top: 10px;
}

#f-poweredbyico{
	float: left;
}

#f-poweredbyico a{
	color: #4B595C;
}

.footerlinks{
	margin-left:1em;
	float:left;
	font-size: small;
}

.footerlinks a{
	color: #4B595C;
	text-decoration: none;
	font-weight: bold;
	font-size: smaller;
	border-left: 1px solid #4B595C;
	padding-left: 5px;
}



#footer{
	margin: 10px;
	margin-left: 200px;
}

.gardeningissue {
	color:#FF0000;
	font-size:90%;
}
.gardeningissue_notify {
	color:#FF9602;
	font-size:90%;
}

/**
* CSS for Infoboxes in the wikipages
* just add a div to your page with class="blueround_head" above content and class="blueround" surrounding the content  
*/


.blueround_head{
	background: #def0f4;
}

.blueround{
	background: transparent url(Sticki_newsbox_backgr.gif) 0 0 repeat-x;
	font-size: x-small;
	padding: 10px;
	margin-top: 5px;
}

.blueround a{
	color: #67666B;
	font-weight: bold;
	font-size: medium; 
}

.blueround li{
	margin-top: 10px;
}

/**
* CSS for inline queries in table format
* just add a div to your page around content with class="darkround"
*/


#smwf_pageblock .smwtable{
	background-color: #E6E6E6;
}

#smwf_pageblock .smwtable th{
	background-color: #E6E6E6;
}

#smwf_pageblock .smwfooter td{
	background-color: #FFF;
}

#smwf_pageblock .smwforumtable .smwtable{
	background: none;
}

#smwf_pageblock .smwforumtable .smwtable th{
	background: none;
	border-bottom: 3px solid #F0F0F0;
}

#smwf_pageblock .smwforumtable .smwtable th a{
	color: #67666B;
}

#smwf_pageblock .smwforumtable .smwtable td{
	border-bottom: 1px solid #F0F0F0;
}