/*  Copyright 2010, ontoprise GmbH
*  This file is part of the halo-Extension.
*
*   The halo-Extension is free software; you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation; either version 3 of the License, or
*   (at your option) any later version.
*
*   The halo-Extension is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/


/* CSS for pretty printing of rules */


.rule_widget_rule {
background:none repeat scroll 0 0 #F9F9F9;
color:#000000;
font-family:Arial,Helvetica,sans-serif;
font-size:10pt;
margin:5px;
}
.rule_widget_rule span {
background:none repeat scroll 0 0 #F9F9F9;
}
.rule_widget_meta {
}
.rule_widget_module {
color:DarkSlateBlue;
font-style:italic;
}
.rule_widget_var {
font-style:italic;
}
.rule_widget_class {
color:#0059B5;
font-weight:bold;
}
.rule_widget_property {
color:#EBA118;
font-weight:bold;

}
.rule_widget_instance {
color:black;
}
.rule_widget_predicate {
color:#6200ae;
}
.rule_widget_function {
color:#5D8A35;
font-weight:bold;
}
.rule_widget_builtin {
color:#889999;
}
.rule_widget_junctor {
color:#646464;
font-weight:bold;
}
.rule_widget_ruleImpl {
background:none repeat scroll 0 0 white;
color:red;
font-family:"Lucida Console",Monaco,monospace;
font-weight:bold;
}
.rule_widget_op {
color:black;
font-family:"Lucida Console",Monaco,monospace;
font-weight:bold;
}

