/**
 * Style sheet for the input type menuselect.
 *
 * @author Stephan Gambke
 * @version 0.4
 */

.SFI_menuselect {
	visibility: hidden; /* will be shown by JS when setup is finished*/
	display: block;
	cursor: default;
	position: absolute;
}

.SFI_menuselect a {
	cursor: default;
}

.SFI_menuselect ul { /* all lists */
	margin: 0px;
	padding: 0px;
	/*margin: -20px;
	padding: 20px;*/
	list-style: none;
	position: absolute;
	display: inline;
}

.SFI_menuselect ul ul { /* sub-item lists only */
	margin-left: 2px;
	margin-right: 2px;
	margin-top: -2px;
	/*margin-left: -18px;
	margin-right: -18px;
	margin-top: -22px;*/
}


.SFI_menuselect li { /* all entries */
	margin: 1px 0px;
	padding: 0px 0px;
	text-align: left;
	/*position: static;*/
	/*display:inline;*/
	/*min-width: 100px;*/
}

.SFI_menuselect li>span { /* all entries */
	display:inline-block;
	width:100%;
}

.SFI_menuselect li>span>div.cont { 
	padding:0px 2px;
}

.SFI_menuselect li>span>div.arrow {
	float:right;
}

