
.yui-skin-sam .yui-navset .yui-nav a em, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em{
    height:14px!important;
}
.haloacl_tab_section_header_count{
    padding-top:4px;
}
.haloacl_tab_section_header_title{
    padding-top:4px;
}
.haloacl_panel_nameDescr{
    padding-top:0px;
}